@import '../../sass/mixin/bgc_img';

//共用的footer
footer {
    height:400px;
    // background-color: #4b823d;
    @include footer_bgc_img(bgc3);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    display:flex;
    justify-content:center;
    align-items: flex-end;
    color:#fff;
}

.footer_content {
    padding: 40px;
}


 //平板
// @include respond(medium){
//     footer {
//         width: 600px;
//         background-color: #3bfc00;
//      }
//     }
    
    
//     //手機版
//     @include respond(small){
//         footer {
//             width: 200px;
//             background-color: #3bfc00;
//          }
    
//     }