//共用的footer
footer {
<<<<<<< HEAD
    height:85px;
    background-color: #4b823d;
=======
    height:100vh;
    // background-color: #4b823d;
    @include footer_bgc_img(bgc3);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:cover;
>>>>>>> 2da8c96558c60749e9fe63bbf99a630e393fecb3
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:1rem;
}


 //平板
// @include respond(medium){
//     footer {
//         width: 600px;
//         background-color: #3bfc00;
//      }
//     }
    
    
//     //手機版
//     @include respond(small){
//         footer {
//             width: 200px;
//             background-color: #3bfc00;
//          }
    
//     }