<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="./css/page/member/member.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Indie+Flower|Acme|Amatic+SC|Kanit|Maven+Pro|Prompt&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script defer src="./js/member.js"></script>
<script src="./js/jquery-3.4.1.js"></script>

