<script src="../../js/order.js"></script>
<div class="tab_wrap">
    <ul class="tabs">
        <li><a href="#tab1">我的訂單</a></li>
        <li><a href="#tab2">我的收藏</a></li>
    </ul>

    <div class="tab_container">
        <div id="tab1" class="tab_content">
            <h2>test</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dicta non, alias ab rerum.</p>
        </div>
        <div id="tab2" class="tab_content">
            <h5>我的話題</h5>
            <br>
            <div class="tabPanel " id="tab-2">
                <div class="order">
                    <!---------------清單----------------->
                    <div class="orderitem">
                        <p class="aticleList_btn">展開清單 v</p>
                        <div class=line></div>

                        <div class="orderLis_content">
                            <table class="member_aticleTable member_myAticle">
                                <tr class="tableHead">
                                    <th>話題編號</th>
                                    <th>標題</th>
                                    <th>發表時間</th>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td class="member_aticleTitle"><a href="#">無加糖紅肉火龍果乾</a></td>
                                    <td>2020-02-22 15:45:00</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td class="member_aticleTitle"><a href="#">無加糖紅肉火龍果乾</a></td>
                                    <td>2020-02-22 15:45:00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <h5>我的收藏</h5>
            <br>
            <div class="tabPanel " id="tab-2">
                <div class="order">
                    <!---------------清單----------------->
                    <div class="orderitem">
                        <p class="aticleList_btn">展開清單 v</p>
                        <div class=line></div>

                        <div class="orderLis_content">
                            <table class="member_aticleTable member_mycollection">
                                <tr class="tableHead">
                                    <th>話題編號</th>
                                    <th>標題</th>
                                    <th>發表時間</th>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td class="member_aticleTitle"><a href="#">無加糖紅肉火龍果乾</a></td>
                                    <td>2020-02-22 15:45:00</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td class="member_aticleTitle"><a href="#">無加糖紅肉火龍果乾</a></td>
                                    <td>2020-02-22 15:45:00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <h5>我的訂閱</h5>
            <br>
            <div class="tabPanel " id="tab-2">
                <div class="order">
                    <!---------------清單----------------->
                    <div class="orderitem">
                        <p class="aticleList_btn">展開清單 v</p>
                        <div class=line></div>

                        <div class="orderLis_content">
                            <table class="member_aticleTable member_mySubscription">
                                <tr class="tableHead">
                                    <th>作者編號</th>
                                    <th>作者暱稱</th>
                                    <th>前次發表時間</th>
                                    <th>前次發表標題</th>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td>某人</td>
                                    <td>2020-02-22 15:45:00</td>
                                    <td class="member_aticleTitle"><a href="#">無加糖紅肉火龍果乾</a></td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>某人</td>
                                    <td>2020-02-22 15:45:00</td>
                                    <td class="member_aticleTitle"><a href="#">無加糖紅肉火龍果乾</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>