//========   按鈕模組 =======
// .publish_btn{
//     @include btn_primary(120px);
//     margin: 0 auto;
// }
// 變數只有width，但我有設min-width
//=========   end   ========
@mixin btn_link($width) {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 15px 0px;
    border-radius: 10px;
    font-size: 1.25rem;
    min-width: 120px;
    width: $width;
    color: $btnColor;
    background-color: $btnLinkBgColor;
    box-shadow: 2px 2px 5px rgba($btnLinkBgColor, 0.5);
<<<<<<< HEAD
// <<<<<<< HEAD
//     ;
// =======
// <<<<<<< HEAD
//     ;
// =======
// >>>>>>> syy717
// >>>>>>> 6f49b77d50069adfd005e3927ec1a033964af516
=======
>>>>>>> e6cbfee870521c1a1c8e8ce67b5eedf4557f5e79
    transition: all 0.2s linear 0s;
    outline: none;
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 20px;
        background-color: rgba($overlay-color, 0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0, 1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    &:hover {
        text-indent: 30px;
        &:before {
            transform: scale(1, 1);
            text-indent: 0;
        }
    }
}

@mixin btn_primary($width) {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px 0px;
    border-width: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    min-width: 120px;
    width: $width;
    color: $btnColor;
    background-color: $btnPriBgColor;
    box-shadow: 2px 2px 5px rgba($btnPriBgColor, 0.5);
<<<<<<< HEAD
    outline: none;
=======
>>>>>>> forum
    transition: all 0.2s linear 0s;
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 20px;
        background-color: rgba($overlay-color, 0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0, 1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    &:hover {
        text-indent: 30px;
        &:before {
            transform: scale(1, 1);
            text-indent: 0;
        }
    }
}

@mixin btn_secondary($width) {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px 0px;
    border-width: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    min-width: 120px;
    width: $width;
    color: $btnColor;
    background-color: $btnSecBgColor;
    box-shadow: 2px 2px 5px rgba($btnSecBgColor, 0.5);
<<<<<<< HEAD
    outline: none;
=======
>>>>>>> forum
    transition: all 0.2s linear 0s;
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 20px;
        background-color: rgba($overlay-color, 0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0, 1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    &:hover {
        text-indent: 30px;
        &:before {
            transform: scale(1, 1);
            text-indent: 0;
        }
    }
}

@mixin btn_cancel($width) {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px 0px;
    border-width: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    min-width: 120px;
    width: $width;
    color: $btnCancelColor;
    background-color: $btnCancelBgColor;
    box-shadow: 2px 2px 5px rgba($btnCancelBgColor, 0.5);
<<<<<<< HEAD
    outline: none;
=======
>>>>>>> forum
    transition: all 0.2s linear 0s;
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 20px;
        background-color: rgba($overlay-color, 0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0, 1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    &:hover {
        text-indent: 30px;
        &:before {
            transform: scale(1, 1);
            text-indent: 0;
        }
    }
}

@mixin btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 200px;
    padding: 15px 30px;
    color: $btnColor;
    background-color: $btnBgColor;
    font-size: 1.25rem;
    border: none;
    border-radius: 100px;
    transition: all .5s;
    &:hover {
        background-color: $btnHovBgColor;
    }
}

@mixin btn_m {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 140px;
    padding: 12px;
    color: $btnColor;
    background-color: $btnBgColor;
    font-size: 1.25rem;
    border: none;
    border-radius: 100px;
    transition: all .5s;
    &:hover {
        background-color: $btnHovBgColor;
    }
}

@mixin btn_s {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    color: $btnColor;
    background-color: $btnBgColor;
    font-size: 1.25rem;
    border: none;
    border-radius: 100px;
    transition: all .5s;
    &:hover {
        background-color: $btnHovBgColor;
    }
}

@mixin btn_a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 150px;
    padding: 16px 20px;
    color: $btnColor;
    background-color: $btnBgColor;
    font-size: 1.25rem;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    transition: all .5s;
    &:hover {
        background-color: $btnHovBgColor;
    }
}

@mixin btn_f($width) {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: $width;
    padding: 12px;
    color: $btnColor;
    background-color: $btnFuncBgColor;
    font-size: 1.25rem;
    border: none;
    border-radius: 100px;
    transition: all .5s;
    &:hover {
        background-color: $btnFuncHovBgColor;
    }
}