@mixin btn_link($width) {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 15px 0px;
    border-radius: 10px;
    font-size: 1.25rem;
    min-width: 120px;
    width: $width;
    color: $btnColor;
    background-color: $btnLinkBgColor;
    box-shadow: 2px 2px 5px rgba($btnLinkBgColor, 0.5);
    transition: all 0.2s linear 0s;
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 20px;
        background-color: rgba($overlay-color, 0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0, 1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    &:hover {
        text-indent: 30px;
        &:before {
            transform: scale(1, 1);
            text-indent: 0;
        }
    }
}