@include respond(ipadpro){
    #box-body{
        .popup{
            .step_wrap{
                .step{
                    margin-bottom: 10px;
                }
            }
        }
        .box_contain{
            .outer{
                .button-wrap{
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    label{
                        margin: 10px 20px 10px 20px;
                    }
                }
                .box{
                    margin-top: 200px;
                }
                .tab_wrap{
                    margin-top: 200px;
                }
                .step_wrap{
                    flex-wrap: wrap;
                    .step{
                        width: 150px;
                    }
                }
            }
        }
    }
}