@include respond(latop-min){
    #box-body{
        .box_contain{
            height: 1000px;
            .outer{
                display: block;
                flex-direction: column;   
                height: 750px;       
                .button-wrap{
                    flex-direction: row;
                }
                .box{
                    margin: 0 auto;
                    margin-top: 200px;
                }
                .tab_wrap{
                    width: 70%;
                    margin: 0 auto;
                    margin-top: 300px;
                }
            }
        }
    }
}