//========   標題模組 =======
//.title_index {
//     @include title(3.5px, solid, #a6c165, 10px);
// }
// .title_page{
//     @include title(3px, dotted, #a6c165, 10px,#fff);
// }
//=========   end   ========

@mixin title($border-w, $border-s, $border-c, $border-r, $bgc:null) {
    width: 200px;
    text-align: center;
    letter-spacing: .1rem;
    padding: 10px;
    position: relative;    
    border-width: $border-w;
    border-style: $border-s;
    border-color: $border-c;
    border-radius: 10px;
    background-color: $bgc;
    img.leafLeft {
        position: absolute;
        top: -25px;
        left: -25px;
        width: 25%;
    
    }
    img.leafRight {
        position: absolute;
        top: -15px;
        right: -20px;
        width: 18%;
        transform: rotate(245deg);
    }
}

// ----------------------------------------------
//首頁使用的title
@mixin indexTitle($border-w, $border-r) {
    width: 300px;
    text-align: center;
    letter-spacing: .1rem;
    padding: 10px;
    position: relative;    
    
    border-width: $border-w;
    border-style: solid;
    border-color: #af7342;
    border-radius: 10px;
    

    // background-color: rgba(255,255,255,.9);
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

    img.leafLeft {
        position: absolute;
        top: -25px;
        left: -25px;
        width: 20%;
    
    }
    img.leafRight {
        position: absolute;
        top: -15px;
        right: -20px;
        width: 15%;
        transform: rotate(65deg);
    }
}

// --------------
@mixin indexQaTitle($border-w, $border-r) {
    width: 150px;
    text-align: center;
    letter-spacing: .1rem;
    padding: 3px;
    position: relative;    
    
    border-width: $border-w;
    border-style: solid;
    border-color: #d68d51;
    border-radius: 20px;
    

    // background-color: rgba(255,255,255,.9);
    // background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

    img.leafLeft {
        position: absolute;
        top: -25px;
        left: -25px;
        width: 20%;
    
    }
    img.leafRight {
        position: absolute;
        top: -15px;
        right: -20px;
        width: 15%;
        transform: rotate(65deg);
    }
}
