// $ipad: 576px;
@include respond(ipad) {
    body {
        >h2 {
            margin: 50px auto 0px;
        }
    }
    .popup {
        >div {
            .guides {
                flex-direction: column;
                div {
                    width: 100%;
                }
            }
        }
    }
    .cusfruits_wrapper {
        margin: 30px auto;
        .guides_inpage {
            flex-direction: column;
            &>:nth-child(2) {
                border-left: dotted #0898A8;
                border-bottom: dotted #0898A8;
                left: -15px;
            }
            &>:nth-child(4) {
                border-right: dotted #0898A8;
                border-bottom: dotted #0898A8;
            }
            div {
                margin: 10px;
                position: relative;
                &:nth-child(1) {
                    left: -100px;
                }
                &:nth-child(3) {
                    right: -95px;
                    top: -50px;
                }
                &:nth-child(4) {
                    top: -50px;
                    right: -85px;
                }
                &:nth-child(5) {
                    top: -90px;
                    left: -70px;
                }
            }
        }
        .cusfruits_inner {
            position: relative;
            top: -100px;
            .wrapper_right {
                .upper {
                    max-width: 90%;
                    margin: 0 auto;
                }
                .rwd_group {
                    .lower {
                        max-width: 90%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}