// $latop-min: 992px;
@include respond(latop-min) {
    //小尺寸筆電都寫在裡面
    .cusfruits_wrapper {
        .cusfruits_inner {
            .wrapper_middle {
                display: block;
                height: 599px;
                margin: 0;
                max-width: 100%;
            }
        }
    }
}