@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';
@import '../../modules/rwd';
body {
    box-sizing: border-box;
    background: url('../../../images/sky.jpg');
    margin: 0;
    .header__container {
        position: sticky;
    }
}

.title_cusfruits {
    @include title(3px,
    dotted,
    #a6c165,
    10px,
    #fff);
    margin: 50px auto;
}

.cusfruits_wrapper {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    .wrapper_left {
        .cabinet_top {
            width: 365px;
            height: 65px;
            background-image: url("../../../images/cusFruits/custfruit_cabinet_top.png");
            background-repeat: no-repeat;
        }
        .cabinet_title {
            width: 330px;
            background: #74BAC1;
            text-align: center;
            color: #DDEFFB;
            padding: 5px;
        }
        p {
            line-height: 30px;
        }
        .fruits_window {
            // width: 380px;
            height: 500px;
            background-image: url(../../../images/cusFruits/cusfruit_cabinet.png);
            background-repeat: no-repeat;
            div {
                position: relative;
                img {
                    background-image: url(../../../images/cusFruits/wheel_plate.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                }
            }
            .linktoqna {
                position: relative;
                top: 20px;
                text-align: right;
                margin-right: 35px;
                a {
                    text-decoration: none;
                    color: #DDEFFB;
                    background: #078391;
                    padding: 8px;
                }
            }
            .layer1 {
                top: 40px;
                left: 15px;
            }
            .layer2 {
                top: 95px;
                left: 15px;
            }
            .layer3 {
                top: 135px;
                left: 15px;
            }
        }
    }
    .wrapper_middle {
        background-image: url("../../../images/cusFruits/cusfruit_middle@2x.png");
        background-size: 125% 120%;
        background-position: center;
        background-repeat: no-repeat;
        width: 400px;
        margin: 0 30px;
        table {
            position: relative;
            top: 150px;
            left: 80px;
            width: 250px;
            tr {
                text-align: right;
                img {
                    width: 200px;
                    margin: 0 auto;
                }
            }
            td {
                height: 70px;
                align-items: center;
                vertical-align: middle;
                img {
                    width: auto;
                    height: 75px;
                }
                .btn_s {
                    outline: none;
                    margin-right: 10px;
                    border-radius: 5px;
                    padding: 3px;
                }
            }
        }
    }
    .wrapper_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        .upper {
            background: url("../../../images/cusFruits/custfruit_bubble.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 375px;
            padding-bottom: 10%;
            display: flex;
            flex-direction: column;
            div {
                canvas {
                    width: 200px;
                }
            }
        }
        $primary: #11998e;
        $secondary: #38ef7d;
        $white: #fff;
        $gray: #9b9b9b;
        .lower {
            position: relative;
            top: -65px;
            width: 375px;
            h5 {
                margin-bottom: 10px;
            }
            form {
                display: flex;
                justify-content: space-between;
                .form__group {
                    position: relative;
                    padding: 15px 0 0;
                    margin-top: 10px;
                    width: 50%;
                }
                .form__field {
                    font-family: inherit;
                    width: 100%;
                    border: 0;
                    border-bottom: 2px solid $gray;
                    outline: 0;
                    font-size: 1.3rem;
                    color: $white;
                    padding: 7px 0;
                    background: transparent;
                    transition: border-color 0.2s;
                    &::placeholder {
                        color: transparent;
                    }
                    &:placeholder-shown~.form__label {
                        font-size: 1.3rem;
                        cursor: text;
                        // top: 775px;
                    }
                }
                .form__label {
                    position: absolute;
                    // top: 775px;
                    display: block;
                    transition: 0.2s;
                    font-size: 1rem;
                    color: $gray;
                }
                .form__field:focus {
                    ~.form__label {
                        position: absolute;
                        top: 40px;
                        display: block;
                        transition: 0.2s;
                        font-size: 1rem;
                        color: $primary;
                        font-weight: 700;
                    }
                    padding-bottom: 6px;
                    font-weight: 700;
                    border-width: 3px;
                    border-image: linear-gradient(to right,
                    $primary,
                    $secondary);
                    border-image-slice: 1;
                }
            }
            div {
                display: flex;
                justify-content: space-between;
            }
        }
        .buttons {
            width: 375px;
            display: flex;
            justify-content: flex-end;
            & :nth-child(1) {
                @include btn_s;
                text-decoration: none;
                color: #000000;
                background-color: #F0F0F0;
                padding: 0;
                padding-top: 10px;
                &:hover {
                    background-color: rgb(184, 184, 184);
                }
            }
            & :nth-child(2) {
                @include btn_s;
                margin-left: 10px;
            }
        }
    }
}

@import '../../modules/rwd';
@import '../../page/custfruits/latopbig';
@import '../../page/custfruits/latopsmall';
@import '../../page/custfruits/ipadpro';
@import '../../page/custfruits/ipad';
@import '../../page/custfruits/phone';