<h2 class="bbs_title">
    <img src="./images/index/leaf6.svg" class="leafLeft">
    <img src="./images/index/leaf5.svg" class="leafRight"> 果甘話區
</h2>

<div class="contain">
    <div class="postSwitch">
        <form class="postSet" id="postSet">
            <input id="hotPosts" type="radio" name="postSortby[]" value="like" checked>
            <label for="hotPosts">果甘熱門話題</label>
            <input id="newPosts" type="radio" name="postSortby[]" value="time">
            <label for="newPosts">果甘最新話題</label>
        </form>
    </div>
    
    <div class="bbs_articles" id="bbsArticles">
        
    </div>
    <a href="forum.php" class="bbs_btn">查看更多話題→</a>
</div>