<link rel="stylesheet" href="./css/page/index/index_jeff.css">
<div class="contain">
    <div class="cloud_section">
        <img class="cloud1" src="./images/index/index_jeff/img_1/couldSun.svg" alt="" width="20%">
        <img class="cloud2" src="./images/index/index_jeff/img_1/cloud2.svg" alt="" width="20%">
    </div>



    <p>堅持來自產地新鮮水果製成果甘，“天然甘”提供多種天然水果甘及客製禮盒。</p>



    <section id="indexSection1">
        <!-- <div class="parallaxContainer">

            <ul id="scene">
                <li class="layer" data-depth="1">
                    <img src="./images/index/index_jeff/img_1/fruit01.svg" class="F1" width="150px"/>
                </li>

                <li class="layer" data-depth="0.9">
                    <img src="./images/index/index_jeff/img_1/fruit06.svg" class="F6" width="100px"/>
                </li>

                <li class="layer" data-depth="0.7">
                    <img src="./images/index/index_jeff/img_1/fruit05.svg" class="F5" width="90px"/>
                </li>

                <li class="layer" data-depth="0.6">
                    <img src="./images/index/index_jeff/img_1/fruit03.svg" class="F3" width="100px"/>
                </li>

                <li class="layer" data-depth="0.8">
                    <img src="./images/index/index_jeff/img_1/fruit02.svg" class="F2" width="100px"/>
                </li>

                <li class="layer" data-depth="0.5">
                    <img src="./images/index/index_jeff/img_1/fruit04.svg" class="F4" width="90px"/>
                </li>
            
            </ul>
            <!-- <div class="landSection">
                <img class="land" src="./images/index/index_jeff/fruitsandLand.svg" alt="" width="65%">
            </div> -->
        <!-- </div>  -->

        <div class="landSection">
            <div class="parallaxContainer">
            
                <ul id="scene">
                    <li class="layer" data-depth="1">
                        <img src="./images/index/index_jeff/img_1/fruit01.svg" class="F1" width="150px" />
                    </li>
            
                    <li class="layer" data-depth="0.9">
                        <img src="./images/index/index_jeff/img_1/fruit06.svg" class="F6" width="100px" />
                    </li>
            
                    <li class="layer" data-depth="0.7">
                        <img src="./images/index/index_jeff/img_1/fruit05.svg" class="F5" width="90px" />
                    </li>
            
                    <li class="layer" data-depth="0.6">
                        <img src="./images/index/index_jeff/img_1/fruit03.svg" class="F3" width="100px" />
                    </li>
            
                    <li class="layer" data-depth="0.8">
                        <img src="./images/index/index_jeff/img_1/fruit02.svg" class="F2" width="100px" />
                    </li>
            
                    <li class="layer" data-depth="0.5">
                        <img src="./images/index/index_jeff/img_1/fruit04.svg" class="F4" width="90px" />
                    </li>
            
                </ul>
                <!-- <div class="landSection">
                            <img class="land" src="./images/index/index_jeff/fruitsandLand.svg" alt="" width="65%">
                        </div> -->
            </div>
        <img class="land" src="./images/index/index_jeff/fruitsandLand.svg" alt="" width="65%">
        </div>

        
        
   
    </section>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js'></script>
<script src="./js/Jeff_index.js"></script>