<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Links------------------- -->
<!-- GoogleFont cdn---------------------------------- -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Indie+Flower|Acme|Amatic+SC|Kanit|Maven+Pro|Prompt&display=swap" rel="stylesheet">
<!-- Not sure---------------------------------- -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="./imges/shortIcon.png">
<!-- Index css all---------------------------------- -->
<link rel="stylesheet" href="./css/page/index/main.css">



<!-- Scripts------------------- -->
<!-- jQuery ---------------------------------- -->
<script async src="./js/jquery-3.4.1.js"></script>
<!-- Fontawesome ---------------------------------- -->
<script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js"></script>
<!-- banner js ---------------------------------- -->
<script defer src="./js/index_banner.js"></script>
<!-- product js ---------------------------------- -->
<script src="./js/index_peishan.js"></script>

