<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">


<!-- Links------------------- -->
<!-- GoogleFont cdn---------------------------------- -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Indie+Flower|Acme|Amatic+SC|Kanit|Maven+Pro|Prompt&display=swap" rel="stylesheet">
<!-- Not sure---------------------------------- -->
<link rel="shortcut icon" href="./imges/shortIcon.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Index css all---------------------------------- -->
<link rel="stylesheet" href="./css/page/index/main.css">



<!-- Scripts------------------- -->
<!-- Fontawesome ---------------------------------- -->
<script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js"></script>
<!-- vue cdn---------------------------------- -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<!-- banner js ---------------------------------- -->
<script defer src="./js/index_banner.js"></script>
<!-- product js ---------------------------------- -->
<script defer src="./js/index_peishan.js"></script>
<!-- customizs js ---------------------------------- -->
<script defer src="./js/index_qna.js"></script>
<!-- product js ---------------------------------- -->
<script defer src="./js/index_forum.js"></script>
<!-- product js ---------------------------------- -->
<script defer src="./js/index_customize.js"></script>
<!-- aboutus js ---------------------------------- -->
<script defer src="./js/all.js"></script>

    

<!-- jQuery ---------------------------------- -->
<script src="./js/jquery-3.4.1.js"></script>
<script src="./js/jquery-ui.js"></script>