<section class="index_prod" style="background-color:#D2E8F2;">
    <div class="box_for_prod_title_hot_topics">
        <div class="prod_title_hot_topics">
            <img src="./images/prod/dark_leaf.svg" class="prod_leafLeft">
            <img src="./images/prod/dark_leaf.svg" class="prod_leafRight"> 特色果甘
        </div>
    </div>
    <h2 class="prod_the_grey_title">果甘排行榜</h2>
    <div class="contain">
        <table class="prod_leaderboard">
            <!-- 第一排tr -->
            <tr>
                <td class="prod_colorful_balloon"><img src="images/index/index_peishan/grey_balloon.svg"
                        class="higher float_right"><img src="images/index/index_peishan/yellow_balloon.svg"></td>
                <td class="prod_leaderboard lower">
                    <img src="images/index/index_peishan/white_balloon.svg">
                    <div class="prod_introduce">
                        <img src="images/index/index_peishan/07_mango_c.png">
                        <h3>我是芒果</h3>
                        <h2>3.9</h2>
                        <img src="images/index/index_peishan/icon/three_stars.svg" class="prod_stars">
                    </div>
                </td>
                <td class="prod_leaderboard">
                    <img src="images/index/index_peishan/white_balloon.svg">
                    <div class="prod_introduce">
                        <img src="images/index/index_peishan/02_pineapple_c.png">
                        <h3>我是鳳梨</h3>
                        <h2>4.2</h2>
                        <img src="images/index/index_peishan/icon/four_stars.svg" class="prod_stars">
                    </div>
                    <center class="prod_center">
                        <h4>想看更多果甘嗎？點底下的按鈕就對了！</h4>
                        <br>
                        <button class="prod_btn" onclick="location.href='./product.html'">更多果甘</button>
                    </center>
                </td>
                <td class="prod_leaderboard lower">
                    <img src="images/index/index_peishan/white_balloon.svg">
                    <div class="prod_introduce">
                        <img src="images/index/index_peishan/01_starfruit_c.png">
                        <h3>我是楊桃</h3>
                        <h2>3.9</h2>
                        <img src="images/index/index_peishan/icon/three_stars.svg" class="prod_stars">
                    </div>
                </td>
                <td class="prod_colorful_balloon"><img src="images/index/index_peishan/grey_balloon.svg"
                        class="higher"><img src="images/index/index_peishan/blue_balloon.svg"></td>
            </tr>
            <!-- 第二排tr -->
            <!-- <tr>
                                <td class="prod_leaderboard" colspan="5">
                                    <center>
                                        <h4>想看更多果甘嗎？點底下的按鈕就對了！</h4>
                                        <br>
                                        <button class="prod_btn" onclick="location.href='./product.html'">更多果甘</button></center>
                                </td>
                            </tr> -->
        </table>
</section>