<div class="contain">
    <h1 class="title_index">
        <img src="./images/index/index_felix/leaf.svg" class="leafLeft">
        <img src="./images/index/index_felix/leaf.svg" class="leafRight"> 客製果甘
    </h1>
    <h2>提供六種果甘的自由搭配</h2>
    <div class="cust_qna_contain">
        <div class="cust_contain">
            <div class="cust_wheelset">
                <div class="cust_wheelstick"></div>
                <ul class="cust_wheel" id="tabs">
                    <div class="item1 item">
                        <li class="content">
                            <a href="#one">楊桃甘
                                <div class="wheel_plate">
                                    <img src="./images/index/index_felix/01_starFruit_c.png">
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="item2 item">
                        <li class="content">
                            <a href="#two">鳳梨甘
                                <div class="wheel_plate">
                                    <img src="./images/index/index_felix/02_pineapple_c.png">
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="item3 item">
                        <li class="content">
                            <a href="#three">火龍果甘
                                <div class="wheel_plate">
                                    <img src="./images/index/index_felix/03_dragon_c.png">
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="item4 item">
                        <li class="content">
                            <a href="#four">香蕉甘
                                <div class="wheel_plate">
                                    <img src="./images/index/index_felix/04_banana_c.png">
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="item5 item">
                        <li class="content">
                            <a href="#five">草莓甘
                                <div class="wheel_plate">
                                    <img src="./images/index/index_felix/05_stawberry_c.png">
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="item6 item">
                        <li class="content">
                            <a href="#six">芭樂甘
                                <div class="wheel_plate">
                                    <img src="./images/index/index_felix/06_guava_c.png">
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="item7 item">
                        <li class="content">
                            <a href="#seven">芒果甘
                                <div class="wheel_plate">
                                    <img src="./images/index/index_felix/07_mango_c.png">
                                </div>
                            </a>
                        </li>
                    </div>
                    <div id="wrapper8">
                        <div class="item8 item">
                            <li class="content">
                                <a href="#eight">蘋果甘
                                    <div class="wheel_plate">
                                        <img src="./images/index/index_felix/08_apple_c.png">
                                    </div>
                                </a>
                            </li>
                        </div>
                    </div>
                </ul>
                <div id="center">
                    <div id="one">
                        <h4>楊桃甘</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, inventore quaerat quos velit, quas saepe magnam delectus voluptate doloremque consectetur fuga dolorem minus, tempora sunt vero tenetur ullam eum illo.
                        </p>
                    </div>
                    <div id="two">
                        <h4>鳳梨甘</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, inventore quaerat quos velit, quas saepe magnam delectus voluptate doloremque consectetur fuga dolorem minus, tempora sunt vero tenetur ullam eum illo.
                        </p>
                    </div>
                    <div id="three">
                        <h4>火龍果甘</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, inventore quaerat quos velit, quas saepe magnam delectus voluptate doloremque consectetur fuga dolorem minus, tempora sunt vero tenetur ullam eum illo.
                        </p>
                    </div>
                    <div id="four">
                        <h4>香蕉甘</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, inventore quaerat quos velit, quas saepe magnam delectus voluptate doloremque consectetur fuga dolorem minus, tempora sunt vero tenetur ullam eum illo.
                        </p>
                    </div>
                    <div id="five">
                        <h4>草莓甘</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, inventore quaerat quos velit, quas saepe magnam delectus voluptate doloremque consectetur fuga dolorem minus, tempora sunt vero tenetur ullam eum illo.
                        </p>
                    </div>
                    <div id="six">
                        <h4>芭樂甘</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, inventore quaerat quos velit, quas saepe magnam delectus voluptate doloremque consectetur fuga dolorem minus, tempora sunt vero tenetur ullam eum illo.
                        </p>
                    </div>
                    <div id="seven">
                        <h4>芒果甘</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, inventore quaerat quos velit, quas saepe magnam delectus voluptate doloremque consectetur fuga dolorem minus, tempora sunt vero tenetur ullam eum illo.
                        </p>
                    </div>
                    <div id="eight">
                        <h4>蘋果甘</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, inventore quaerat quos velit, quas saepe magnam delectus voluptate doloremque consectetur fuga dolorem minus, tempora sunt vero tenetur ullam eum illo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="qna_contain">
            <!-- <h2 class="title_page">
                <img src="./images/01index/04index_cust_qna/leaf.svg" class="leafLeft">
                <img src="./images/01index/04index_cust_qna/leaf.svg" class="leafRight"> 果甘測驗
            </h2> -->
            <div>
                <div>
                    <h4>不知道怎麼選嗎？</h4>
                    <h4>回答問題讓天然甘給您適合的建議吧！</h4>
                </div>
                <div class="qna_paper">
                    <div class="qna_paper_upper">
                        <h5>Q : <span>喝咖啡、吃甜食，讓你胃食道逆流或摁摁不順暢嗎?</span></h5>
                        <span> 1 / 6</span>
                    </div>
                    <div class="qna_paper_lower">
                        <span><input type="radio" name="q1">還好欸，我身強體壯</span>
                        <span><input type="radio" name="q1">有一點，最近偶爾會這樣</span>
                        <span><input type="radio" name="q1">每天都這樣....</span>
                    </div>
                    <div class="qna_paper_buttons">
                        <button type="submit">上一題</button>
                        <button type="submit">下一題</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cust_platform"></div>
    <button class="cust_more" onclick="location.href='cusfruits.html'">更多客製果甘</button>
</div>
<script>
    //客製果甘輪盤tab
    $(function() {

        var _showTab = 0;
        var $defaultLi = $('ul.cust_wheel li').eq(_showTab).addClass('active');
        $($defaultLi.find('a').attr('href')).siblings().hide();


        $('ul.cust_wheel li').click(function() {
            var $this = $(this),
                _clickTab = $this.find('a').attr('href');
            $this.addClass('active').siblings('.active').removeClass('active');
            $(_clickTab).stop(false, true).fadeIn().siblings().hide();

            return false;

        }).find('a').focus(function() {
            this.blur();
        });
    });
</script>