<!-- 共用title -->
    <h2 class="prod_title">
        <img src="./images/index/leaf6.svg" class="leafLeft">
        <img src="./images/index/leaf5.svg" class="leafRight">
        特色果甘排行榜
    </h2>

    <!-- 內容開始 -->

    <h3>本週熱門果甘排行</h3>
    <div class="contain">

        <table class="prod_leaderboard">
            <!-- 第一排tr -->
            <tr>
                <td class="prod_colorful_balloon_left">
                    <img src="./images/index/index_peishan/grey_balloon.svg">
                    <img src="./images/index/index_peishan/blue_balloon.svg">
                </td>

                <td class="prod_leaderboard lower wow fadeInUp">
                    <img src="../images/index/index_addPics/white_balloon2.svg">
                    
                    <div class="prod_introduce">
                        <div class="prod_leaderboard_img">
                            <img src="./images/index/index_peishan/index_mango.JPG">
                        </div>
                        <div class="prod_lntro_content">
                            <p>芒果甘</p>
                            <span>3.9</span>
                            <img src="images/index/index_peishan/icon/three_stars.svg" class="prod_stars">
                        </div>
                    </div>
                </td>

                <td class="prod_leaderboard wow fadeInUp delay-1s">
                    <img src="./images/index/index_addPics/white_balloon2.svg">

                    <div class="prod_introduce">
                        <div class="prod_leaderboard_img">
                            <img src="./images/index/index_peishan/index_mango.JPG">
                        </div>
                        <div class="prod_lntro_content">
                            <p>鳳梨甘</p>
                            <span>4.2</span>
                            <img src="images/index/index_peishan/icon/three_stars.svg" class="prod_stars">
                        </div>
                    </div>

                    <center class="prod_center">
                        <br>
                        <!-- <button class="prod_btn" onclick="location.href='./product.html'">更多果甘</button> -->
                        <a href="./prod_product.html"><div class="prod_btn">查看更多果甘→</div></a>
                    </center>

                </td>

                <td class="prod_leaderboard lower wow fadeInUp delay-2s">
                    <img src="./images/index/index_addPics/white_balloon2.svg">

                    <div class="prod_introduce">
                        <div class="prod_leaderboard_img">
                            <img src="./images/index/index_peishan/index_mango.JPG">
                        </div>
                        <div class="prod_lntro_content">
                            <p>楊桃甘</p>
                            <span>3.9</span>
                            <img src="./images/index/index_peishan/icon/three_stars.svg" class="prod_stars">
                        </div>
                    </div>

                </td>
                <td class="prod_colorful_balloon_right">
                    <img src="./images/index/index_peishan/grey_balloon.svg"
                        class="higher">
                    <img src="./images/index/index_peishan/blue_balloon.svg">
                </td>
            </tr>
        </table>




<!-- -----------手機版--------------------------------------------------------- -->
<div class="prod_phone_wrap">
<div class="card">
    <div class="products">
      <div class="product active" product-id="1" product-color="#D18B49">
        <div class="thumbnail"><img src="./images/index/index_addPics/index_mango.JPG" class="prod_pics"/></div>
            <h1 class="title">芒果甘</h1>
            <p class="description">
            <span>3.9</span>
            <br>
            <img src="../../images/index/index_peishan/icon/three_stars.svg" class="prod_stars">
            </p>
      </div>
      <div class="product" product-id="2" product-color="#542F13">
        <div class="thumbnail"><img src="./images/index/index_addPics/index_mango.JPG" class="prod_pics"/></div>
            <h1 class="title">鳳梨甘</h1>
            <p class="description">
                <span>4.2</span>
                <br>
                <img src="../../images/index/index_peishan/icon/three_stars.svg" class="prod_stars">
            </p>
      </div>
      <div class="product" product-id="3" product-color="#c57171">
        <div class="thumbnail"><img src="./images/index/index_addPics/index_mango.JPG"" class="prod_pics"/></div>
            <h1 class="title">楊桃甘</h1>
            <p class="description">
                <span>3.9</span>
                <br>
                <img src="../../images/index/index_peishan/icon/three_stars.svg" class="prod_stars">    
            </p>
      </div>
    </div>
    <div class="footer"><a class="btn" id="prev" href="#" ripple="" ripple-color="#666666">&lt;&nbsp;PREV</a><a class="btn" id="next" href="#" ripple="" ripple-color="#666666">Next&nbsp;&gt;</a></div>
</div>
  <div>
    <a href="./prod_product.html"><div class="prod_phone_btn">查看更多果甘→</div></a>
  </div>
</div>