<h2 class="box_title  wow bounce">
    <img src="./images/index/leaf6.svg" class="leafLeft">
    <img src="./images/index/leaf5.svg" class="leafRight">
    專屬禮盒設計
</h2>

<div class="contain">  
    <h3>來設計獨一無二的禮盒吧^_^</h3>
    <div class="index_box_outer">
        <a href="box.html"><img src="./images/index/index_sizhen/index_box_img.svg" alt=""></a>
        <img src="./images/index/index_sizhen/index_isLand.svg" alt="">     
        <img src="./images/index/index_sizhen/green_balloon.svg" alt="">
        <img src="./images/index/index_sizhen/red_balloon.svg" alt="">
        <img src="./images/index/index_sizhen/yellow_balloon.svg" alt="">
    </div>

    <a href="box.html"><div class="box_btn wow jackInTheBox">開始設計→</div></a>
    
    <div class="hot_air_blue_balloon">
        <img src="./images/index/index_sizhen/hot_air_blue_balloon.svg" alt="">
    </div>
    <div class="hot_air_red_balloon">
        <img src="./images/index/index_sizhen/hot_air_red_balloon.svg" alt="">
    </div>
</div>