@import '../../base/variable';
@import '../../base/reset';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';



* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Fauna One', serif; */
    margin: 0;
}

body,
html {
    height: 100%;
}

header {
    position: fixed;
    z-index: 1000;
}

// footer {
//     position: fixed;
//     bottom: 0px;
//     z-index: 1000;
// }

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    
        /* border: 1px solid blue; */

}


.section {
    height: 100%;
    width: calc(100% / 4);
    float: left;
    position: relative;
    /* border: 1px solid green; */
}

.clearfix {
    clear: both;
}

.section:nth-child(1) {
    /* background: #F64747; */
    /* background-image: url(../images/bg.png); */
    background-color: #bfe3ed;
}

.section:nth-child(2) {
    /* background: #22A7F0; */
    background-color: #bfe3ed;


    background-repeat: no-repeat;
    /* background-size: cover; */
}

.section:nth-child(3) {
    /* background: #F9690E; */
    background-color: #bfe3ed;
    background-repeat: no-repeat;
    background-size: contain;
}

.section:nth-child(4) {
    /* background: #9B59B6; */
    background-color: #bfe3ed;
    /* background-image: url(../images/bg.png); */
}

/* .section:nth-child(5) {
    background: #03C9A9;
} */

.sections {
    width: 500%;
    height: 100%;
}

/* .section__title {
    position: absolute;
    top:20%;
    left:40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
} */


.section_2 {
    position: relative;
    top: 38%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border: 3.5px solid #7Eccc6;
    border-radius: 30px;
    color: #8a5b41;
    letter-spacing: .2rem;
    line-height: 1.5;
    z-index: 1000;


}

.section_2 p {
    font-size: 16px;

}





/* 桃太郎 */
/* footer{
    height: 10%;
    position: relative;
    z-index:50;
} */
img.Tao {
    width: 200px;
    position: absolute;
    top: 65%;
    left: 20%;
    z-index: 50;
    // -moz-transform: scaleX(-1);
    // -webkit-transform: scaleX(-1);
    // -o-transform: scaleX(-1);
    // transform: scaleX(-1);
    /* animation: updown .5s linear infinite alternate; */
}

/* 
@keyframes updown {
    0% {
        
        transform: translateY(10px);

    }

    100% {
       
        transform: translateY(-10px);

    }
} */


/* 雲動畫 */
img.cloud1 {
    position: absolute;
    top: 30%;
    animation: cloudAnimate 3s linear infinite alternate;
}

img.cloud2 {
    position: absolute;
    top: 20%;
    left: 50%;
    animation: cloudAnimate 2s linear infinite alternate;
}

@keyframes cloudAnimate {
    0% {

        transform: translateX(30px);

    }

    100% {

        transform: translateX(-30px);

    }
}

/* 葉子 */

.section_2>.section__title {
    left: 33%;
    text-align: center;
    width: 200px;
    font-size: 32px;
    text-align: center;
    letter-spacing: .1rem;
    color: #8a5b41;
    background-color: #fff;
    /* border: 3px dotted #a6c165; */
    border-radius: 10px;
    padding: 5px;
    position: relative;
    margin: 0 auto;
}

.section__title>span {
    text-align: center;
    margin-left: 100px;
}





.ball {
    position: absolute;
    left: 470px;
    top: 100px;


}


/* 1 */

.fruit_land {
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    position: relative;

}

.land {
    position: absolute;
    left: 15%;
    top: 25%;
    animation: land 2s linear infinite alternate;
}

.fruits {
    position: absolute;
    top: 28%;
    left: 28%;
    z-index: 100;
}

@keyframes land {
    0% {

        transform: translateY(-10px);

    }

    100% {

        transform: translateY(10px);

    }
}



/* 2 */

.windCloud_windRotate {
    position: relative;
    // border: 1px solid red;
    width: 100%;
    height: 100%;
}

.appleTree {
    position: absolute;
    left: 3.5%;
    top: 1%;
    // border: 1px solid blue;
}

.apple_1 {
    position: absolute;
    left: 10%;
    top: 5%;
    z-index: 100;
}

.windRotate {
    position: absolute;
    left: 56.3%;
    top: 1.2%;
    z-index: 10;
    // border: 1px solid green;
    animation: windRotate 10s linear infinite;

}

@keyframes windRotate {
    0% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(360deg);

    }
}









/* 3 */
.world {
    position: absolute;
    left: 13%;
    top: 48%;
    animation: world 50s linear infinite;


}


@keyframes world {
    0% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(360deg);

    }
}



@import "../../modules/rwd";
@import "../../page/about/ipadpro";
@import "../../page/about/ipad";
@import "../../page/about/phone";