@charset "UTF-8";
@font-face {
  font-family: Noto;
  src: url(../font/NotoSansCJKtc-Regular.otf);
}

@font-face {
  font-family: Genjyuu;
  src: url(../font/GenJyuuGothic-Monospace-Regular.ttf);
}

html {
  font-size: 16px;
  color: #4c4948;
  font-family: Noto, Genjyuu;
}

h1 {
  font-size: 2.5rem;
  color: #8A5B41;
}

h2 {
  font-size: 2.25rem;
  color: #8A5B41;
}

h3 {
  font-size: 2rem;
  color: #8A5B41;
}

h4 {
  font-size: 1.75rem;
  color: #8A5B41;
}

header .header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 85px;
  /* border: 1px solid red; */
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

header .header__container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__container .logo a img {
  width: 250px;
}

header .header__container .navList {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: 1px solid blue; */
}

.navList .navItem {
  text-decoration: none;
  padding: 15px;
  margin: 10px 10px 10px 20px;
  color: #8a5b41;
  font-size: 1.4rem;
  -webkit-transition: color .2s .1s, -webkit-transform .2s .1s;
  transition: color .2s .1s, -webkit-transform .2s .1s;
  transition: transform .2s .1s, color .2s .1s;
  transition: transform .2s .1s, color .2s .1s, -webkit-transform .2s .1s;
}

.navList_2 {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navList_2 .navItem_2 {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: #8a5b41;
  font-size: 1.5rem;
  -webkit-transition: color .2s .1s, -webkit-transform .2s .1s;
  transition: color .2s .1s, -webkit-transform .2s .1s;
  transition: transform .2s .1s, color .2s .1s;
  transition: transform .2s .1s, color .2s .1s, -webkit-transform .2s .1s;
}

.navItem:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #e08c34;
  /* #e08c34 */
  top: 80%;
  left: 25px;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.navItem:hover:after {
  width: 75px;
  -webkit-transition: width .3s .1s;
  transition: width .3s .1s;
}

.navItem:hover,
.navItem_2:hover {
  -webkit-transform: translateY(-5px) scale(1.05);
          transform: translateY(-5px) scale(1.05);
  color: #a6c165;
  /* #a6c165 */
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.navItem:hover > .fa-seedling,
.navItem:hover > .fa-apple-alt,
.navItem:hover > .fa-lemon,
.navItem:hover > .fa-carrot,
.navItem:hover > .fa-leaf {
  -webkit-animation: ss .2s linear infinite alternate;
          animation: ss .2s linear infinite alternate;
}

@-webkit-keyframes ss {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes ss {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.navList .focus {
  color: #a6c165;
}

footer {
  height: 85px;
  background-color: #4b823d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1rem;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: lightblue;
  background-image: url();
}

.wrap {
  width: 100%;
}

section {
  width: 100%;
  border: 1px solid gray;
}

/* -- 關於我們------------------------------------ -- */
/* -- 特色果甘------------------------------------ -- */
/* -- 客製禮盒------------------------------------ -- */
/* -- 客製果甘------------------------------------ -- */
.index_cust .contain .title_index {
  width: 200px;
  text-align: center;
  letter-spacing: .1rem;
  padding: 10px;
  position: relative;
  border-width: 3.5px;
  border-style: solid;
  border-color: #a6c165;
  border-radius: 10px;
  margin: 50px auto;
}

.index_cust .contain .title_index img.leafLeft {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 25%;
}

.index_cust .contain .title_index img.leafRight {
  position: absolute;
  top: -15px;
  right: -20px;
  width: 18%;
  -webkit-transform: rotate(245deg);
          transform: rotate(245deg);
}

.index_cust .contain h2 {
  text-align: center;
}

.index_cust .contain .cust_qna_contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index_cust .contain .cust_qna_contain .cust_contain {
  margin-top: -130px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheelstick {
  position: relative;
  left: -65px;
  bottom: -430px;
  z-index: 1;
  height: 48px;
  background-image: url(../images/index_cust/wheel_stick.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel {
  border-radius: 100%;
  position: relative;
  z-index: 2;
  left: 200px;
  bottom: -100px;
  height: 600px;
  width: 600px;
  overflow: hidden;
  background: #987845;
  border: 4px solid #CEA45A;
  background-repeat: no-repeat;
  background-size: contain;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item {
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item1 {
  z-index: 1;
  -webkit-transform: rotate(68deg);
          transform: rotate(68deg);
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item1 .content {
  right: 61px;
  top: 146px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 4px solid #CEA45A;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item1 .content:hover {
  background: #eee;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item1 .content .wheel_plate {
  background: url(../images/index_cust/wheel_plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 100%;
  top: -405px;
  right: 65px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item1 .content .wheel_plate img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -165px;
  left: 5px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item1 .content a {
  width: 100%;
  height: 100%;
  line-height: 545px;
  left: 210px;
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item2 {
  z-index: 2;
  -webkit-transform: rotate(113deg);
          transform: rotate(113deg);
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item2 .content {
  right: 61px;
  top: 146px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 4px solid #CEA45A;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item2 .content:hover {
  background: #eee;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item2 .content .wheel_plate {
  background: url(../images/index_cust/wheel_plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 100%;
  top: -405px;
  right: 65px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item2 .content .wheel_plate img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -165px;
  left: 5px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item2 .content a {
  width: 100%;
  height: 100%;
  line-height: 545px;
  left: 210px;
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item3 {
  z-index: 3;
  -webkit-transform: rotate(158deg);
          transform: rotate(158deg);
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item3 .content {
  right: 61px;
  top: 146px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 4px solid #CEA45A;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item3 .content:hover {
  background: #eee;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item3 .content .wheel_plate {
  background: url(../images/index_cust/wheel_plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 100%;
  top: -405px;
  right: 65px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item3 .content .wheel_plate img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -165px;
  left: 5px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item3 .content a {
  width: 100%;
  height: 100%;
  line-height: 545px;
  left: 210px;
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item4 {
  z-index: 4;
  -webkit-transform: rotate(203deg);
          transform: rotate(203deg);
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item4 .content {
  right: 61px;
  top: 146px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 4px solid #CEA45A;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item4 .content:hover {
  background: #eee;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item4 .content .wheel_plate {
  background: url(../images/index_cust/wheel_plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 100%;
  top: -405px;
  right: 65px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item4 .content .wheel_plate img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -165px;
  left: 5px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item4 .content a {
  width: 100%;
  height: 100%;
  line-height: 545px;
  left: 210px;
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item5 {
  z-index: 5;
  -webkit-transform: rotate(248deg);
          transform: rotate(248deg);
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item5 .content {
  right: 61px;
  top: 146px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 4px solid #CEA45A;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item5 .content:hover {
  background: #eee;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item5 .content .wheel_plate {
  background: url(../images/index_cust/wheel_plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 100%;
  top: -405px;
  right: 65px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item5 .content .wheel_plate img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -165px;
  left: 5px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item5 .content a {
  width: 100%;
  height: 100%;
  line-height: 545px;
  left: 210px;
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item6 {
  z-index: 6;
  -webkit-transform: rotate(293deg);
          transform: rotate(293deg);
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item6 .content {
  right: 61px;
  top: 146px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 4px solid #CEA45A;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item6 .content:hover {
  background: #eee;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item6 .content .wheel_plate {
  background: url(../images/index_cust/wheel_plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 100%;
  top: -405px;
  right: 65px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item6 .content .wheel_plate img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -165px;
  left: 5px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item6 .content a {
  width: 100%;
  height: 100%;
  line-height: 545px;
  left: 210px;
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item7 {
  z-index: 7;
  -webkit-transform: rotate(338deg);
          transform: rotate(338deg);
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item7 .content {
  right: 61px;
  top: 146px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 4px solid #CEA45A;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item7 .content:hover {
  background: #eee;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item7 .content .wheel_plate {
  background: url(../images/index_cust/wheel_plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 100%;
  top: -405px;
  right: 65px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item7 .content .wheel_plate img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -165px;
  left: 5px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item7 .content a {
  width: 100%;
  height: 100%;
  line-height: 545px;
  left: 210px;
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item8 {
  z-index: 8;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item8 .content {
  right: 61px;
  top: 146px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border: 4px solid #CEA45A;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item8 .content:hover {
  background: #eee;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item8 .content .wheel_plate {
  background: url(../images/index_cust/wheel_plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 100%;
  top: -405px;
  right: 65px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item8 .content .wheel_plate img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -165px;
  left: 5px;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel .item8 .content a {
  width: 100%;
  height: 100%;
  line-height: 545px;
  left: 210px;
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset .cust_wheel #wrapper8 {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset #center {
  position: absolute;
  left: 343.5px;
  top: 426.5px;
  width: 315px;
  height: 315px;
  z-index: 8;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index_cust .contain .cust_qna_contain .cust_contain .cust_wheelset #center div {
  width: 250px;
  text-align: center;
  margin: auto;
  line-height: 1.25;
}

.index_cust .contain .cust_qna_contain .qna_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 200px 0px 0px;
  line-height: 1.5;
}

.index_cust .contain .cust_qna_contain .qna_contain .title_page {
  width: 200px;
  text-align: center;
  letter-spacing: .1rem;
  padding: 10px;
  position: relative;
  border-width: 3px;
  border-style: dotted;
  border-color: #a6c165;
  border-radius: 10px;
  background-color: #fff;
  height: 55px;
  margin: 0px 30px;
}

.index_cust .contain .cust_qna_contain .qna_contain .title_page img.leafLeft {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 25%;
}

.index_cust .contain .cust_qna_contain .qna_contain .title_page img.leafRight {
  position: absolute;
  top: -15px;
  right: -20px;
  width: 18%;
  -webkit-transform: rotate(245deg);
          transform: rotate(245deg);
}

.index_cust .contain .cust_qna_contain .qna_contain .qna_paper {
  width: 500px;
  height: 350px;
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid #8A5B41;
  background: #fff;
}

.index_cust .contain .cust_qna_contain .qna_contain .qna_paper .qna_paper_upper {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index_cust .contain .cust_qna_contain .qna_contain .qna_paper .qna_paper_lower {
  margin-top: 100px;
  margin: 30px;
}

.index_cust .contain .cust_qna_contain .qna_contain .qna_paper .qna_paper_lower span {
  display: block;
  margin: 30px;
}

.index_cust .contain .cust_qna_contain .qna_contain .qna_paper .qna_paper_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index_cust .contain .cust_qna_contain .qna_contain .qna_paper .qna_paper_buttons button {
  font-family: Noto, Genjyuu;
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 100px;
  padding: 12px;
  color: #ffffff;
  background-color: #D35D3D;
  font-size: 1.25rem;
  border: none;
  border-radius: 100px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.index_cust .contain .cust_qna_contain .qna_contain .qna_paper .qna_paper_buttons button:hover {
  background-color: #f85f35;
}

.index_cust .cust_platform {
  margin-top: -130px;
  z-index: -1;
  position: relative;
  left: -166px;
  height: 488px;
  background-image: url(../images/index_cust/cust_platform.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.index_cust .cust_more {
  font-family: Noto, Genjyuu;
  float: right;
  margin-right: 160px;
  position: relative;
  top: -255px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 200px;
  padding: 15px 30px;
  color: #ffffff;
  background-color: #e08c34;
  font-size: 1.25rem;
  border: none;
  border-radius: 100px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.index_cust .cust_more:hover {
  background-color: #Fa0;
}

/* -- 問答遊戲------------------------------------ -- */
/* -- 果甘話區------------------------------------ -- */
/*# sourceMappingURL=01_index.css.map */