//字體變數
$color: #4c4948;
$titleColor: #8A5B41;
<<<<<<< HEAD
<<<<<<< HEAD
// <<<<<<< HEAD
// =======
=======
<<<<<<< HEAD
$fontFamily: 'Noto Sans TC',
sans-serif;

=======
>>>>>>> e6cbfee870521c1a1c8e8ce67b5eedf4557f5e79
=======
>>>>>>> ac884f43697a4237a55eb236518be6de96b4b5d7
$fontFamily: 'Noto Sans TC', sans-serif;
/* -- 首頁字體變數-----------------------*/

$indexFontColor: #fff;
$indexSecFontColor: #4c4948;
$indexTitleFontColor: #af7342;


<<<<<<< HEAD
<<<<<<< HEAD
// >>>>>>> syy717
=======
>>>>>>> f10dfb7a77ea5b150b2f9e326a9ec4c247232495
>>>>>>> e6cbfee870521c1a1c8e8ce67b5eedf4557f5e79
=======
>>>>>>> ac884f43697a4237a55eb236518be6de96b4b5d7
//連結按鈕變數
$btnColor: #ffffff;
$overlay-color: #fff;
$btnLinkBgColor: #e08c34;
//主要功能按鈕變數
$btnPriBgColor: #D35D3D;
//次要功能按鈕變數
$btnSecBgColor: #1F7962;
//取消按鈕變數
$btnCancelColor: #141414;
$btnCancelBgColor: #A8A8A8;
// RWD 斷點
$phone: 376px;
$ipad: 576px;
$ipadpro: 768px;
$latop-min: 992px;
$latop-max: 1200px;
//一般按鈕變數
$btnBgColor: #e08c34;
$btnHovBgColor: #Fa0;
//功能按鈕變數
$btnFuncBgColor: #D35D3D;
$btnFuncHovBgColor: #f85f35;
