//字體變數
$color: #4c4948;
$titleColor: #8A5B41;

//一般按鈕變數
$btnColor: #ffffff;
$btnBgColor: #e08c34;
$btnHovBgColor: #Fa0;
//功能按鈕變數
$btnFuncBgColor: #D35D3D;
$btnFuncHovBgColor: #f85f35;

// RWD 斷點
$phone: 376px;
$ipad: 576px;
$ipadpro: 768px;
$latop-min: 992px;
$latop-max: 1200px;




