@include respond(phone) {
    //手機都寫在裡面
    //forum
    img.balloon1{
      width: 110px;
      margin-left: 5%;}

    img.balloon2{
      width: 80px;
      margin-left: 35%;}

    .wrapper_forum .hot_post {
      perspective: 6000px;}

    .wrapper_forum .hot_post .carousels .carousel {
      width: 85%;}

    //forum_article
    .wrapper_article .article_container{
      width: 95%; }

    .article_area .post{
      margin: 0 10px; }

    .comments_area .comment{
      margin: 0 10px; }

    .comment_zone{
      margin: 10px; }

    .comment_form > textarea{
      width: 300px; }

    //forum_post
    .wrapper_post .post_container{
      width: 90%; }

    .post_area .set_post_topic >input{
      width: 100%; }

    .select_post_fruit{
      width: 100%; }

    .post_btn > input{
      @include btn_f(100px);}
}
