// 珮珊的首頁-----------------------------------------

/* -- 特色果甘------------------------------------ -- */
.prod_title {
  @include indexTitle(3px, 10px);
  margin: 50px auto;
}

.prod_the_grey_title {

  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

div.contain {
  width: 100%;
  position: relative;
}

table.prod_leaderboard {
  // border:3px green dashed;
  width: 100%;

  td.lower {
    position: relative;
    top: 90px;
  }

  td.prod_colorful_balloon_left {
    // border: 1px solid red;
    width: 8%;

    img {
      width: 80%;
    }

    img:nth-child(1) {
      // border: 1px solid #fa0;
      position: relative;
      top: -290px;
      animation: ball 3s linear infinite alternate;
    }

    img:nth-child(2) {
      // border: 1px solid deeppink;
      position: relative;
      top: 0px;
      right: -80px;
      animation: ball 5s linear infinite alternate;
    }

  }

  td.prod_leaderboard {
    // border: 1px solid blue;
    width: 26%;
    position: relative;


    img {
      width: 65%;
      margin: 0 auto;
      margin-top: 10%;
      margin-left: 20%;
    }

    div.prod_introduce {
      // border: 1px solid green;
      position: absolute;
      top: 60px;
      width: 60%;
      left: 80px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;



      .prod_leaderboard_img {
        // border: 1px solid red;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          margin-top: 0;
          margin-left: 0;
        }

      }

      .prod_lntro_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $indexSecFontColor;

        p {
          font-size: 1.5rem;
        }

        span {
          font-size: 1.25rem;
        }

        img {
          width: 50%;
          margin-top: 0;
          // text-align: center;
        }
      }
    }
  }

  td.prod_colorful_balloon_right {
    // border: 1px solid red;
    width: 8%;

    img {
      width: 80%;
    }

    img:nth-child(1) {
      // border: 1px solid #fa0;
      position: relative;
      top: -290px;
      animation: ball 2s linear infinite alternate;
    }

    img:nth-child(2) {
      // border: 1px solid deeppink;
      position: relative;
      top: 0px;
      left: 0px;
      animation: ball 3s linear infinite alternate;
    }

  }
}

.prod_btn {
  @include btn_link(170px);
  margin: 50 auto;
}

.card {
  display: none;
}

.prod_phone_btn {
  display: none;
}


// -------手機版----------------------------------------
@include respond(phone) {
  .prod_title {
    @include indexTitle(3px, 10px);
    width: 250px;
    margin: 50px auto;
  }

  .prod_phone_wrap {
    width: 100%;
  }

  .prod_leaderboard {
    display: none;
  }

  .card {
    display: block;
    border: 2px solid #CEA45A;
  }

  body {
    // background: #d18b49;
    // color: rgba(0, 0, 0, 0.6);
    // font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  .btn {
    border-radius: 2px;
    padding: 8px 12px;
    color: #d18b49;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  .card {
    background: rgba(255, 255, 255, .1);
    max-width: 90%;
    margin: 50px auto;
    border-radius: 15px;
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding: 48px;
    text-align: center;
  }

  .products {
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  .product {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  .product.active {
    opacity: 1;
    visibility: visible;
  }

  .thumbnail {
    // border: 1px solid green;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .prod_pics {
    // border: 1px solid red;
    width: 103%;
  }

  .description {
    font-size: 1.5rem;
    color: #fff;
  }

  .prod_stars {
    // border: 1px solid #fff;
    width: 70%;
    margin-top: 10px;
  }

  .title {
    margin: 0 0 12px;
    color: #f5642b;
    font-size: 1.5rem;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  .description {
    margin: 0 0 48px;
  }

  .footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0 -12px -12px;
  }

  [ripple] {
    z-index: 1;
    position: relative;
    overflow: hidden;
  }

  [ripple] .ripple {
    position: absolute;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: ripple 2s;
    animation: ripple 2s;
  }

  .prod_phone_btn {
    @include btn_link(170px);
    margin: 50 auto;
  }

  @-webkit-keyframes ripple {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.2;
    }

    100% {
      -webkit-transform: scale(20);
      transform: scale(20);
      opacity: 0;
    }
  }

  @keyframes ripple {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.2;
    }

    100% {
      -webkit-transform: scale(20);
      transform: scale(20);
      opacity: 0;
    }
  }

}

//氣球動畫
@keyframes ball {
  0% {

    transform: translateY(-100px);
    opacity: 0.5;

  }

  100% {
    opacity: 1;
    transform: translateY(100px) scale(1.5);
   

  }
}