@import '../../base/reset';
// @import '../../base/bootstrap';
// @import '../../base/stackpath';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../mixin/bgc_img';
@import '../../modules/button';
@import '../../modules/rwd';

body {
    box-sizing: border-box;
    // background-color: #fff;
    color: $indexFontColor;
    @include bgc_img(index_bgc_nightblue2);
    background-size: cover;
    font-family: $fontFamily;
}

.wrap {
    width: 100%;
}

section {
    width: 100%;
    // border: 1px solid gray;
    // overflow: hidden;
}


section:nth-child(0){
    margin-top: 85px;
}

h1 {
    font-size: 2rem;
    color: $indexTitleFontColor;
}
h2 {
    font-size: 1.75rem;
    color: $indexTitleFontColor;
}
h3 {
    font-size: 1.5rem;
    color: $indexFontColor;
}
h4 {
    font-size: 1.25rem;
    color: $indexFontColor;
}
h5 {
    font-size: 1.15rem;
    color: $indexTitleFontColor;
}

// -------手機版----------------------------------------
@include respond(phone) {
    //手機都寫在裡面
    section {
        width: 100%;
        // border: 1px solid gray;
        overflow: hidden;
    }
}


