// Jeff的首頁-----------------------------------------
@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';

* {
    box-sizing: border-box;
}


body {

    // background-image: url();
    background: linear-gradient(270deg, #b0fbfb, #defcdf);
}

.wrap {
    width: 100%;
    margin: 0 auto;

}

section {
    width: 100%;
    // border: 1px solid gray;
}

//吉祥物
// .happyWrap{
//     width: 1200px;
// }
.happy {
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 100;


}



.index_about {
    .contain {
        height: 100%;

        .cloud_section img.cloud1 {
            position: absolute;
            top: 10%;
            left: 10%;
            z-index: -1;
            animation: cloudAnimate 3s linear infinite alternate;
        }

        .cloud_section img.cloud2 {
            position: absolute;
            top: 12%;
            left: 70%;
            z-index: -1;
            animation: cloudAnimate 2s linear infinite alternate;
        }

        #indexSection1 {
            width: 100%;
            margin: 0 auto;
            position: relative;
            padding-top: 50px;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            .parallaxContainer {
                width: 100%;
                margin: 50px auto;
                background-attachment: fixed;
                // border: 1px solid green;
                display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                #scene .layer {
                    img {
                        vertical-align: bottom;
                    }

                    .F1 {
                        position: relative;
                        left: 100px;
                    }

                    .F2 {
                        position: relative;
                        top: 80px;
                        left: 250px;
                    }

                    .F3 {
                        position: relative;
                        top: 200px;
                        left: 330px;
                    }

                    .F4 {
                        position: relative;
                        right: 100px;
                    }

                    .F5 {
                        position: relative;
                        top: 100px;
                        right: 250px;
                    }

                    .F6 {
                        position: relative;

                    }

                }
            }

            .landSection {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                // border: 1px solid orange;
            }

            .land {
                animation: land 3s linear infinite alternate;
            }
        }
    }

    .about_btn {
        @include btn_link(120px);
        margin: 50px auto;
    }



    .contain>p {
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
        color: #4c4948;
        line-height: 1.5;
    }








    //島動畫
    @keyframes land {
        0% {
            transform: translateY(-10px);

        }

        100% {
            transform: translateY(10px);
        }
    }

    //雲動畫
    @keyframes cloudAnimate {
        0% {
            transform: translateX(30px);
        }

        100% {
            transform: translateX(-30px);
        }
    }





}


@import "../../modules/rwd";





//768px
@include respond(ipadpro) {

    .parallaxContainer {
        #scene .layer>img {
            display: none;
        }
    }


    .happy {
        display: none;
    }


}


//576px
@include respond(ipad) {
    .index_about .contain>p {
        display: none;

    }



}

@include respond(phone) {
    // .index_about .contain>p {
    //     display: none;

    // }

    .land {
        width: 100%;
    }

    img.cloud1 {
        width: 40%;
    }

    img.cloud2 {
        width: 40%;
    }
}