// Jeff的首頁-----------------------------------------

@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';

* {
    box-sizing: border-box;
}


body {
    // background-color: #fff;
    // background-image: url();
    background: linear-gradient(270deg, #b0fbfb, #defcdf);
}

.wrap {
    width: 100%;
    margin: 0 auto;

}

section {
    width: 100%;
    // border: 1px solid gray;
}

// .index_about {
//     position: relative;
// }
.happy {
    width: 260px;
    position: absolute;
    top:40%;
    left: 10%;
    z-index: 100;


}



.index_about {
    .contain {
        height: 100%;

        .cloud_section img.cloud1 {
            position: absolute;
            top: 10%;
            left: 10%;
            z-index: -1;
            animation: cloudAnimate 3s linear infinite alternate;
        }

        .cloud_section img.cloud2 {
            position: absolute;
            top: 12%;
            left: 70%;
            z-index: -1;
            animation: cloudAnimate 2s linear infinite alternate;
        }

        #indexSection1 {
            width: 100%;
            margin: 0 auto;
            position: relative;
            padding-top: 50px;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            .parallaxContainer {
                width: 100%;
                margin: 50px auto;
                background-attachment: fixed;
                // border: 1px solid green;
                display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                #scene .layer {
                    img {
                        vertical-align: bottom;
                    }

                    .F1 {
                        position: relative;
                        left: 100px;
                    }

                    .F2 {
                        position: relative;
                        top: 80px;
                        left: 250px;
                    }

                    .F3 {
                        position: relative;
                        top: 200px;
                        left: 330px;
                    }

                    .F4 {
                        position: relative;
                        right: 100px;
                    }

                    .F5 {
                        position: relative;
                        top: 100px;
                        right: 250px;
                    }

                    .F6 {
                        position: relative;

                    }

                }
            }

            .landSection {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                // border: 1px solid orange;
            }

            .land {
                animation: land 3s linear infinite alternate;
            }
        }
    }

    .about_btn {
        @include btn_link(120px);
        margin: 50px auto;
    }




.land_section .fruitsInBasket>img:nth-child(1) {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    z-index: 1;
    animation: fruitsInBasket 2s linear 1s infinite alternate;
    //    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.land_section .fruitsInBasket>img:nth-child(2) {
    position: absolute;
    left: 90px;
    width: 110px;
    z-index: 2;
    animation: fruitsInBasket 3.5s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(3) {
    position: absolute;
    left: 150px;
    width: 100px;
    z-index: 1;
    animation: fruitsInBasket 8s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(4) {
    position: absolute;
    left: 180px;
    width: 120px;
    z-index: 2;
    animation: fruitsInBasket 7s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(5) {
    position: absolute;
    left: 250px;
    width: 100px;
    z-index: 1;
    animation: fruitsInBasket 6s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(6) {
    position: absolute;
    left: 300px;
    width: 100px;
    z-index: 2;
    animation: fruitsInBasket 9s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(7) {
    position: absolute;
    left: 340px;
    width: 125px;
    z-index: 2;
    animation: fruitsInBasket 5s linear infinite alternate;
}



@keyframes fruitsInBasket {
    0% {
        transform: translateY(-10px);
        opacity: 0;

    }

    100% {
        transform: translateY(10px);
        opacity: 1;

    }
}

@keyframes land {
    0% {

        transform: translateY(-10px);

    }

    100% {

        transform: translateY(10px);

    }
}




}

//天空蘋果
#scene .layer2>img {
    position: absolute;
    top: 50px;
    left: 300px;


//768px
@include respond(ipadpro) {

    .parallaxContainer {
        #scene .layer>img {
            display: none;
        }
    }


    .happy {
        display: none;
    }

}

// 天空酪梨
#scene .layer6>img {
    position: absolute;
    top: 200px;
    left: 1200px;

}

//首頁button

.about_btn {
    width: 100%;
    // height: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;


}

a {
    display: inline-block;
}

a .btn {
    @include btn;
    //    margin-left:550px;

    // margin: 0 auto;


}



    .land {
        width: 100%;
    }

    100% {

        transform: translateX(-30px);

    }
}



// 小遊戲
.gameBox {
    position: fixed;
    bottom: 9%;
    left: 1%;
    width: 110px;
    z-index: 50;
    cursor: pointer;
    animation: 1s linear 0s infinite alternate none running gameAnimate;
    transition:all .5s;
}

// .gameBox:hover {
//     transform: translateX(10px);
// }

// .game .game1 {
//     position: fixed;
//     top: 29px;
//     left: 32px;

// }

// .game .game2 {
//     position: fixed;
//     top: 29px;
//     left: 32px;

// }

@keyframes gameAnimate {
    0% {

        transform: translateY(10px);

    }

    100% {

        transform: translateY(-10px);

    }
}