// Jeff的首頁-----------------------------------------
@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';

* {
    box-sizing: border-box;
}


body {

    // background-image: url();
    background: linear-gradient(270deg, #b0fbfb, #defcdf);
}

.wrap {
    width: 100%;
    margin: 0 auto;

}

section {
    width: 100%;
    // height: 200vh;
    border: 1px solid gray;
}

<<<<<<< HEAD
// .index_about {
//     position: relative;
// }

.contain {
    // margin: 0 auto;
    // border: 1px solid red;
    margin-top: 200px;
    height: 100%;
    // position: relative;

}

.contain p {
    text-align: center;
    // vertical-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: #4c4948;
}



.title_index {
    @include title(3.5px, solid, #a6c165, 10px);
    margin: 0 auto;


}

.land_section {
    margin: 0 auto;
    // border: 1px solid blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 50;



}

.land {
    animation: land 3s linear infinite alternate;
}

.fruitsInBasket {
    width: 450px;
    height: 300px;
    position: absolute;
    left: 480px;
    top: 50px;
    // border: 1px solid orange;
    z-index: -1;

}




.land_section .fruitsInBasket>img:nth-child(1) {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    z-index: 1;
    animation: fruitsInBasket 2s linear 1s infinite alternate;
    //    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.land_section .fruitsInBasket>img:nth-child(2) {
    position: absolute;
    left: 90px;
    width: 110px;
    z-index: 2;
    animation: fruitsInBasket 3.5s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(3) {
    position: absolute;
    left: 150px;
    width: 100px;
    z-index: 1;
    animation: fruitsInBasket 8s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(4) {
    position: absolute;
    left: 180px;
    width: 120px;
    z-index: 2;
    animation: fruitsInBasket 7s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(5) {
    position: absolute;
    left: 250px;
    width: 100px;
    z-index: 1;
    animation: fruitsInBasket 6s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(6) {
=======
//吉祥物
// .happyWrap{
//     width: 1200px;
// }
.choco_black {
>>>>>>> 2da8c96558c60749e9fe63bbf99a630e393fecb3
    position: absolute;
    left: 300px;
<<<<<<< HEAD
    width: 100px;
    z-index: 2;
    animation: fruitsInBasket 9s linear infinite alternate;
}

.land_section .fruitsInBasket>img:nth-child(7) {
    position: absolute;
    left: 340px;
    width: 125px;
    z-index: 2;
    animation: fruitsInBasket 5s linear infinite alternate;
=======
    z-index: 100;


>>>>>>> 2da8c96558c60749e9fe63bbf99a630e393fecb3
}



<<<<<<< HEAD
@keyframes fruitsInBasket {
    0% {
        transform: translateY(-10px);
        opacity: 0;
=======
.index_about {
    .contain {
        height: 100%;

        .cloud_section img.cloud1 {
            position: absolute;
            top: 10%;
            left: 10%;
            z-index: -1;
            animation: cloudAnimate 3s linear infinite alternate;
        }

        .cloud_section img.cloud2 {
            position: absolute;
            top: 12%;
            left: 70%;
            z-index: -1;
            animation: cloudAnimate 2s linear infinite alternate;
        }

        #indexSection1 {
            width:1200px;
            margin: 0 auto;
            position: relative;
            padding-top: 50px;
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            .parallaxContainer {
                width: 1200px;
                margin: 50px auto;
                background-attachment: fixed;
                border: 1px solid green;
                display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                #scene .layer {
                    img{
                        vertical-align: bottom;
                    }
                    .F1 {
                        position: relative;
                        left: 100px;
                    }

                    .F2 {
                        position: relative;
                        top:80px;
                        left: 250px;
                    }

                    .F3 {
                        position: relative;
                        top:150px;
                        left: 350px;
                    }

                    .F4 {
                        position: relative;
                        right:100px;
                    }

                    .F5 {
                        position: relative;
                        top:100px;
                        right:250px;
                    }

                    .F6 {
                        position: relative;

                    }

                }
            }

            .landSection {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                border: 1px solid orange;
            }
        }
    }

>>>>>>> 2da8c96558c60749e9fe63bbf99a630e393fecb3


<<<<<<< HEAD
    100% {
        transform: translateY(10px);
        opacity: 1;

=======
    .contain>p {
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
        color: #4c4948;
        line-height: 1.5;
>>>>>>> 2da8c96558c60749e9fe63bbf99a630e393fecb3
    }
}

@keyframes land {
    0% {

        transform: translateY(-10px);

    }

    100% {

<<<<<<< HEAD
        transform: translateY(10px);

    }
}
=======


>>>>>>> 2da8c96558c60749e9fe63bbf99a630e393fecb3




//parallax
.skyFruits {
    width: 100%;
    height: 100%;
    position: absolute;
    // overflow: hidden;
    background: url();
    // background-attachment: fixed;
    // border: 1px solid green;


}


//天空葡萄
#scene .layer1>img {
    position: absolute;
    top: -100px;
    left: 100px;

}

//天空蘋果
#scene .layer2>img {
    position: absolute;
    top: 50px;
    left: 300px;

}

// 天空芒果
#scene .layer3>img {
    position: absolute;
    top: 100px;
    left: 250px;
    

<<<<<<< HEAD
}

// 天空柿子
#scene .layer4>img {
    position: absolute;
    top: -50px;
    left: 1100px;

}

// 天空水梨
#scene .layer5>img {
    position: absolute;
    top: 100px;
    left: 1000px;

}

// 天空酪梨
#scene .layer6>img {
    position: absolute;
    top: 200px;
    left: 1200px;

}

//首頁button

.about_btn {
    width: 100%;
    // height: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;


}

a {
    display: inline-block;
}

a .btn {
    @include btn;
    //    margin-left:550px;

    // margin: 0 auto;


}

=======
@import "../../modules/rwd";

//1440px
@media all and (max-width:1440px) {
    #scene {
        // border:1px solid red;
        // display:none;

        // 天空柿子
        .layer4>img {
            position: absolute;
            top: -50px;
            left: 1000px;
        }

        // 天空水梨
        .layer5>img {
            position: absolute;
            top: 100px;
            left: 1000px;

        }

        // 天空酪梨
        .layer6>img {
            position: absolute;
            top: 200px;
            left: 1000px;

        }
    }



}



//768px
@include respond(ipadpro) {
    .skyFruits {
        #scene {
            display: none;
>>>>>>> 2da8c96558c60749e9fe63bbf99a630e393fecb3



// .cloud_section {
//     position: relative;
//     border: 1px solid #a6c165;
// }

/* 雲動畫 */
.index_about .contain .cloud_section img.cloud1 {
    position: absolute;
    top: 10%;
    left:10%;
    z-index: -1;
    animation: cloudAnimate 3s linear infinite alternate;
}

.index_about .contain .cloud_section img.cloud2 {
    position: absolute;
    top: 12%;
    left:70%;
    z-index: -1;
    animation: cloudAnimate 2s linear infinite alternate;
}

@keyframes cloudAnimate {
    0% {

        transform: translateX(30px);

    }

    100% {

        transform: translateX(-30px);

    }
}



// 小遊戲
.gameBox {
    position: fixed;
    bottom: 9%;
    left: 1%;
    width: 110px;
    z-index: 50;
    cursor: pointer;
    animation: 1s linear 0s infinite alternate none running gameAnimate;
    transition:all .5s;
}

// .gameBox:hover {
//     transform: translateX(10px);
// }

<<<<<<< HEAD
// .game .game1 {
//     position: fixed;
//     top: 29px;
//     left: 32px;

// }

// .game .game2 {
//     position: fixed;
//     top: 29px;
//     left: 32px;

// }

@keyframes gameAnimate {
    0% {

        transform: translateY(10px);

    }

    100% {

        transform: translateY(-10px);

=======
    .choco_black {
        display: none;
    }


}


//576px
@include respond(ipad) {
    .index_about .contain>p {
        display: none;

    }



}

@include respond(phone) {
    // .index_about .contain>p {
    //     display: none;

    // }

    .land {
        width:100%;
    }

    img.cloud1 {
        width: 40%;
    }

    img.cloud2 {
        width: 40%;
>>>>>>> 2da8c96558c60749e9fe63bbf99a630e393fecb3
    }
}