@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Noto;
  src: url(../font/NotoSansCJKtc-Regular.otf);
}

@font-face {
  font-family: Genjyuu;
  src: url(../font/GenJyuuGothic-Monospace-Regular.ttf);
}

html {
  font-size: 16px;
  color: #4c4948;
  font-family: Noto, Genjyuu;
}

h1 {
  font-size: 2.5rem;
  color: #8A5B41;
}

h2 {
  font-size: 2.25rem;
  color: #8A5B41;
}

h3 {
  font-size: 2rem;
  color: #8A5B41;
}

h4 {
  font-size: 1.75rem;
  color: #8A5B41;
}

h5 {
  font-size: 1.25rem;
}

header .header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

header .header__container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__container .logo a img {
  width: 200px;
}

header .header__container .navList {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navList .navItem {
  text-decoration: none;
  padding: 8px;
  margin: 8px;
  color: #8a5b41;
  font-size: 1.4rem;
  -webkit-transition: color .2s .1s, -webkit-transform .2s .1s;
  transition: color .2s .1s, -webkit-transform .2s .1s;
  transition: transform .2s .1s, color .2s .1s;
  transition: transform .2s .1s, color .2s .1s, -webkit-transform .2s .1s;
}

.navList_2 {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navList_2 .navItem_2 {
  text-decoration: none;
  padding: 8px;
  margin: 8px 0px;
  color: #8a5b41;
  font-size: 1.5rem;
  -webkit-transition: color .2s .1s, -webkit-transform .2s .1s;
  transition: color .2s .1s, -webkit-transform .2s .1s;
  transition: transform .2s .1s, color .2s .1s;
  transition: transform .2s .1s, color .2s .1s, -webkit-transform .2s .1s;
}

.navItem:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #e08c34;
  top: 90%;
  left: 20px;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.navItem:hover:after {
  width: 70px;
  -webkit-transition: width .3s .1s;
  transition: width .3s .1s;
}

.navItem:hover,
.navItem_2:hover {
  -webkit-transform: translateY(-5px) scale(1.05);
          transform: translateY(-5px) scale(1.05);
  color: #a6c165;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.navItem:hover > .fa-seedling,
.navItem:hover > .fa-apple-alt,
.navItem:hover > .fa-gift,
.navItem:hover > .fa-lemon,
.navItem:hover > .fa-carrot,
.navItem:hover > .fa-leaf {
  -webkit-animation: ss .2s linear infinite alternate;
          animation: ss .2s linear infinite alternate;
}

@-webkit-keyframes ss {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes ss {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.navList .focus {
  color: #a6c165;
}

footer {
  height: 85px;
  background-color: #4b823d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1rem;
}

.tab_wrap {
  border: 1px solid #de8c3e;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

ul, li {
  margin-top: 0;
  padding: 0;
  list-style: none;
}

ul.tabs {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #de8c3e;
  background-color: #de8c3e;
}

ul.tabs li {
  float: left;
  height: 100%;
  line-height: 40px;
  overflow: hidden;
  position: relative;
}

ul.tabs li a {
  display: block;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

ul.tabs li a:hover {
  background: #fa0;
}

ul.tabs li.active {
  background: #fa0;
  /* border-bottom: 1px solid#fff; */
}

ul.tabs li.active a:hover {
  background: #fa0;
}

div.tab_container {
  width: 100%;
  border-top: none;
  background: #fff;
}

/* -------------------以下各分頁可自行設定------------------------- */
div.tab_container .tab_content {
  padding: 20px;
}

div.tab_container .tab_content h2 {
  margin: 0 0 20px;
}

.detail_wrapper {
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(211, 235, 174, 0.85);
  border: 3px solid #A2C070;
  border-radius: 10px;
  position: relative;
  left: 50%;
  margin-left: -600px;
  margin-bottom: 40px;
  padding: 20px;
  padding-right: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail_wrapper > .prdt_img {
  display: inline-block;
  width: 40%;
  /* border:1px solid red; */
  background-color: white;
  border-radius: 4px;
}

.large_img > img {
  width: 80%;
  margin-left: 10%;
}

.prdt_img > table.small_img {
  width: 100%;
  border: 1px solid green;
  background-color: white;
}

img.sm_photo {
  width: 120px;
}

.prdt_text {
  display: inline-block;
  /* float:right; */
  margin-left: 50px;
  width: 54%;
}

.prdt_text > table.grade {
  width: 100%;
  /* border:1px solid green; */
  /* background-color: white; */
  margin: 20px 0px;
  padding-left: 40px;
}

td.score {
  /* border:1px dotted grey; */
  padding-left: 40px;
  width: 80px;
}

td.stars > img {
  width: 120px;
  /* border:1px dotted hotpink; */
  float: left;
}

p.introduce {
  margin: 10px 0px;
  font-size: 18px;
}

div.buy > div, h4 {
  margin: 10px 0px;
}

.quantity > h4 {
  display: inline-block;
}

.quantity > div, button {
  font-size: 2rem;
  display: inline-block;
}

#howmany {
  width: 30px;
  background-color: white;
  border: 1px solid #CCCBCF;
  padding: 10px;
}

button.count {
  width: 40px;
  background-color: #CCCBCF;
  padding: 5px 10px;
}

button.for_buyit {
  margin: 10px 20px;
}

button#putin {
  width: 180px;
  color: black;
  padding: 8px 20px 8px 8px;
  border: 3px solid #D35D3D;
  background-color: #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button#putin:hover {
  background-color: white;
}

button#putin > img {
  width: 22px;
  margin-left: 10px;
  position: relative;
  top: 3px;
}

ul.prtd_comment {
  height: 600px;
  overflow: auto;
  margin: 10px;
  padding: 10px 30px;
  line-height: 1.4;
  background-color: white;
  border-radius: 20px;
}

ul.prtd_comment > li {
  width: 1100px;
  border-bottom: 2px dotted black;
  position: relative;
  line-height: 1.4;
}

ul.prtd_comment > li > div {
  margin: 20px 0px;
}

table.each_comment {
  margin-bottom: 10px;
}

tr.each_comment > td:first-child {
  /* border: 1px solid blue; */
  width: 70%;
  position: relative;
  right: 0px;
}

tr.each_comment > td {
  /* border: 1px solid red; */
  padding: 0px 10px;
}

td.accuse {
  color: #8C512E;
}

td.accuse:hover {
  cursor: pointer;
}

tr.each_comment > td > img {
  width: 130px;
}

#cloudBoard {
  /*div*/
  margin: 100px auto;
  width: 100%;
  height: 600px;
  /* background-color: hotpink; */
  overflow: hidden;
  /* transform: rotate(345deg); */
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: -2;
}

#cloudBoard ul {
  /*ul*/
  width: 4000px;
  position: relative;
  top: -20px;
  -webkit-animation: slider 16s infinite linear;
          animation: slider 16s infinite linear;
  /*"infinit"可以改成3，就變成只播放三次*/
  /* transform: rotate(45deg); */
}

img#moving_cloud {
  width: 1400px;
  /* border:1px solid green; */
}

@-webkit-keyframes slider {
  0% {
    left: -600px;
    opacity: 0.3;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    left: 60px;
    opacity: 1.0;
  }
  50% {
    left: 750px;
    opacity: 0.9;
    /* transform:skewX(10deg); */
  }
  60% {
    opacity: 0.6;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  100% {
    left: 1900px;
    opacity: 0.1;
    /* transform:skewX(40deg); */
  }
}

@keyframes slider {
  0% {
    left: -600px;
    opacity: 0.3;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    left: 60px;
    opacity: 1.0;
  }
  50% {
    left: 750px;
    opacity: 0.9;
    /* transform:skewX(10deg); */
  }
  60% {
    opacity: 0.6;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  100% {
    left: 1900px;
    opacity: 0.1;
    /* transform:skewX(40deg); */
  }
}
/*# sourceMappingURL=detail.css.map */