@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';

.detail_wrapper{
    width:1200px;
    box-sizing: border-box;
    background: linear-gradient(rgb(245, 245, 210), rgb(186, 230, 99));
    border:3px solid rgb(130, 161, 79);
    border-radius:10px;
    position:relative;
    left: 50%;
    margin-left:-600px;
    margin-bottom: 40px;
    padding:20px;
    padding-right: 0px;
    flex-wrap: wrap;
}

.detail_wrapper > .prdt_img{
    display:inline-block;
    width:40%;
    /* border:1px solid red; */
    background-color: white;
    border-radius: 4px;
}
.large_img > img{
    width:100%;
}

.prdt_img > table.small_img{
    width:100%;
    // border:1px solid green;
    background-color: white;
}

img.sm_photo {
    width:120px;
}

.prdt_text{
    display:inline-block;
    /* float:right; */
    margin-left: 50px;
    width:54%;
}

.prdt_text > table.grade{
    width:100%;
    /* border:1px solid green; */
    /* background-color: white; */
    margin:20px 0px;
    padding-left:40px;
}



td.score{
    /* border:1px dotted grey; */
    padding-left: 40px;
    width:80px;
}

td.stars > img{
    width:120px;
    /* border:1px dotted hotpink; */
    float:left;
}

p.introduce{
    margin: 10px 0px;
    font-size:18px;
}

div.buy > div,h4{
    margin:10px 0px;;
}

.quantity > h4{display:inline-block;}
.quantity > div,button{
    font-size:2rem;
    display:inline-block;
}
#howmany{
    width:30px;
    background-color:white;
    border: 1px solid #CCCBCF;
    padding: 10px; 
}
button.count{
    width:40px;
    background-color:#CCCBCF;
    padding: 5px 10px; 
}

button.for_buyit{
    margin: 10px 20px;
}

hr.hr_for_detail{
    margin: 30px;
    border-style: dashed;
}

ul.prtd_comment{
    height:600px;
    overflow: auto;
    margin: 10px;
    padding: 10px 30px;
    line-height: 1.4;
    background-color: white;
    border-radius: 20px;
}

ul.prtd_comment > li{
    width:1100px;
    border-bottom: 2px dotted black;
    position: relative;
    line-height: 1.4;
}
ul.prtd_comment > li > div{
    margin: 20px 0px;
}

table.each_comment{
    margin-bottom:10px;
}

tr.each_comment > td:first-child {
    /* border: 1px solid blue; */
    width:70%;
    position: relative;
    right:0px;
}

tr.each_comment > td {
    /* border: 1px solid red; */
    padding: 0px 10px;
}

td.accuse{
    color:#8C512E;
}

td.accuse:hover{
    cursor: pointer;
}

tr.each_comment > td > img{
    width:130px;
}

//以下的.grey_btn是複製政儒的 cancel_btn
.grey_btn{
    text-align: right;
    display: inline-block;
  }
  
  .grey_btn{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 10px 0px;
    border-width: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    min-width: 120px;
    width: 120px;
    color: #141414;
    background-color: #A8A8A8;
    -webkit-box-shadow: 2px 2px 5px rgba(168, 168, 168, 0.5);
            box-shadow: 2px 2px 5px rgba(168, 168, 168, 0.5);
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    text-decoration: none;
  }
  
  .grey_btn:before {
    content: "\f054";
    font-family: FontAwesome;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }
  
  .grey_btn:hover {
    text-indent: 30px;
  }
  
  .grey_btn:hover:before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    text-indent: 0;
  }
  
  
  //以下的orange_btn是複製政儒的.post_btn
  
  .orange_btn {
    text-align: center;
  }  
  
  .orange_btn {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 10px 0px;
    border-width: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    min-width: 120px;
    width: 120px;
    color: #ffffff;
    background-color: #D35D3D;
    -webkit-box-shadow: 2px 2px 5px rgba(211, 93, 61, 0.5);
            box-shadow: 2px 2px 5px rgba(211, 93, 61, 0.5);
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    display: inline-block;
    margin: 10px;
  }
    
    .orange_btn:before {
      content: "\f054";
      font-family: FontAwesome;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 20px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0 50% 50% 0;
      -webkit-transform: scale(0, 1);
              transform: scale(0, 1);
      -webkit-transform-origin: left center;
              transform-origin: left center;
      -webkit-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s;
    }
    
    .orange_btn:hover {
      text-indent: 30px;
    }
    
    .orange_btn:hover:before {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      text-indent: 0;
    }
    
  
  //以下的green_btn是複製政儒的post_rest_btn
  .green_btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 10px 0px;
    border-width: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    min-width: 120px;
    width: 120px;
    color: #ffffff;
    background-color: #1F7962;
    -webkit-box-shadow: 2px 2px 5px rgba(31, 121, 98, 0.5);
            box-shadow: 2px 2px 5px rgba(31, 121, 98, 0.5);
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    display: inline-block;
    margin: 10px;
  }
  
  .green_btn:before {
    content: "\f054";
    font-family: FontAwesome;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }
  
  .green_btn:hover {
    text-indent: 30px;
  }
  
  .green_btn:hover:before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    text-indent: 0;
  }
  


@import "../../modules/rwd";
@import "../../page/forum/ipadpro";
@import "../../page/forum/ipad";
@import "../../page/forum/phone";