@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
// @import '../../layout/login';
@import '../../layout/tab';
@import '../../mixin/titleStyle';
@import '../../modules/button';
@import '../../modules/rwd';

div.wrapper{
	width:100%;
	/* border:3px solid blue; */
	box-sizing: border-box;
	overflow: hidden;
}
#sliderBoard{		/*div*/
  border:1px solid purple;
	margin: 0px auto;
	margin-top: 100px;
	/* width: 1400px; */
	height: 600px;
	/* background-color: hotpink; */
	/* overflow: hidden; */
	transform: rotate(350deg);
	position: relative;
	top:-100px;
	left:0px;
}


#sliderBoard ul{	/*ul*/
  border: 1px solid blue;
	width: 4600px; 
	position: relative;
	/* top:-20px; */
	animation: slider 15s infinite linear; /*"infinit"可以改成3，就變成只播放三次*/
	/* transform: rotate(45deg); */
}
#sliderBoard li{	/*li*/
	width: 300px;
	height: 600px;
  margin: 40px 80px;
  margin-bottom: 0px;
  border: 1px solid red;
	/* font: bold 150px Tahoma; */
	text-align: center;
	line-height: 450px;
	transform: rotate(10deg); 
	display: inline-block;
	/* float: left; */
}

#sliderBoard li > a{	/*li*/
  color:#4C4948;
  text-decoration: none;
}

@keyframes slider{
	0%{left: 0px;}
	/* 5%{left: -90px;}
	10%{left: -180px;}
	15%{left: -270px;}
	20%{left: -360px;}
	25%{left: -450px;}
	30%{left: -540px;}
	35%{left: -630px;}
	40%{left: -720px;}
	50%{left: -900px;}
	55%{left: -990px;}
	60%{left: -1080px;}
	65%{left: -1170px;}
	70%{left: -1260px;}
	75%{left: -1350px;}
	80%{left: -1440px;}
	85%{left: -1530px;}
	90%{left: -1620px;}
	95%{left: -1710px;} */
	100%{left: -4050px;}
}  

div.fresh_leaf{
	width:300px;
	height:300px;
	background-image: url(./images/prdt/freshleaf_nobg.png);
	background-size: contain;
}

div.fresh_leaf img{
	width:300px;
}

div.dish{
	width:150px;
	height:150px;
	/* border: 1px solid greenyellow; */
	background-image: url(./images/prdt/dish_nobg.png);
	background-size: contain;
	margin-left: 75px;
}

div.dish img{
	width:150px;
	/* border: 1px solid yellow; */
	position: relative;
	top:-80px;
}

div.text_underdish{
  padding: 0px 20px;
	font-size: 18px;
	line-height: 1.4;
}

div.box_for_ctrlbtn{
	width:156px;
	position: relative;
	top:30px;
  left:50%;
  /* transform: rotate(10deg); */
	margin-left: -77px;
  /* border: 1px solid red; */
  box-sizing: border-box;
  /* z-index: -1; */
} 
button.ctrl{
	width:60px;
	height:60px;
	border:3px solid grey;
	border-radius: 50%;
	font-size:48px;
	/* margin:0px 40px; */
}


@keyframes slider_cloud{
    0%{left: -600px;
        opacity: 0.3;
        transform: scale(1.1);
    }

    20%{left:60px;
        opacity: 1.0;
    }

    50%{ left: 750px;
        opacity: 0.9;
        /* transform:skewX(10deg); */
    }

    60%{
        opacity:0.6;
        transform:scale(2.0);
    }

    100%{left: 1900px;
        opacity: 0.1;
        /* transform:skewX(40deg); */
    }
}

div.wrapper_cards{
	width:100%;
	/* border:3px solid blue; */
  box-sizing: border-box;
  display:flex;   /*每個商品卡並排*/
  flex-wrap:wrap; /*摺行的指令*/
}

div.cards{
  display: inline-block;
  width:320px;
  /* height:440px; */
  border:3px solid #e08c34;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  position: relative;

}

img.fresh_fruit{
  /* border: 1px solid green; */
  position: relative;
  left:0px;
  width:100%;
  opacity: 0.8;

}

img.dried_fruit{
  /* border: 1px solid red; */
  width:50%;
  position: absolute;
  bottom: 30%;
  left:10%;
}

img.rada{
  width:100%;
  border-radius: 20px;
  position: absolute;
  top:12%;
  left:300px;
  opacity: 0;
  transition: all 0.4s ease 0.1s;
}

div.fresh_fruit:hover .rada{
  opacity: 1;
  left:0px;
}

/* div.dry_fruit{
  transition: all 0.3s ease 0.3s;
}

.cards:hover .fresh_fruit{
  opacity: 0;
}

.cards:hover .dried_fruit{
  opacity: 0;
  left:-50%;
} */