@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';

body {
  background-image: url(../../../images/forum/sky.jpg);
}

div.wrapper{
	width:100%;
	/* border:3px solid blue; */
	box-sizing: border-box;
  // overflow: hidden;
  
}

.title_hot_topics{
  @include title(3px,dotted,#a6c125,10px,#fff);
  margin: 50px auto;
}


img.carousel{
	width: 100%;
	height: auto;
  // border: 1px solid red;
}
div#prod_carousel{		
	// border: 1px solid blue;
	height: auto;
  margin: 100px auto;
	overflow: hidden;
  /*↑↑↑讓3個灰色圓點出來*/
}

#content{			
  position: relative;
}

#content li{		/*li*/
	float: left;
}

.contentMov{
	animation: slider 10s infinite ;
}

/* circle button */
#contentButton{
	// border: 1px solid red;
	height: 50px;
	width: 100%;
	text-align: center;
}
#contentButton li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ccc;
	margin: 8px;
  display: inline-block;
}
#contentButton li.clickMe{
	background: #888;
}

h3.under_carousel{
  margin-top: 100px;
  text-align: center;
  // border: 1px solid hotpink;
}

div.text_oncard{
  padding: 0px 20px;
	font-size: 18px;
  line-height: 1.4;
  span.name{
    margin-right: 20px;
  }
  span{
    font-size:22px;
  }
  img.icon{
    width:30px;
    position: relative;
    top: 6px;
    margin-left: -3px;

  }
}


ul.wrapper_cards{
	width:100%;
	/* border:3px solid blue; */
  box-sizing: border-box;
  display:flex;   /*每個商品卡並排*/
  flex-wrap:wrap; 
  justify-content: space-around;
}

li.cards{
  display: inline-block;
  width:320px;
  /* height:440px; */
  border:3px solid #e08c34;
  border-radius: 20px;
  background-color: white;
  margin: 20px 0px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

img.fresh_fruit{
  // border: 1px solid green;
  position: relative;
  left:0px;
  width:100%;
  // opacity: 0.8;

}

img.dried_fruit{
  // border: 1px solid red;
  width:50%;
  position: absolute;
  bottom: 20%;
  left:0%;
}


//↓↓↓3月22日(日)改動過的部分
div.pic_rada{
  // img.rada{
  width:100%;
  margin-left: -10px;
  box-sizing: border-box;
  padding:4%;
  border-radius: 20px;
  position: absolute;
  top:0%;
  opacity: 0;
  transition: all 0.4s ease 0.1s;
  h4{
    margin-bottom: 10px;
    color:white;
  }
  p{
    width:100%;
    //margin: 0 auto;
    line-height: 1.5;
    color:white;
  }
}

div.for_stomach{
  background-color: rgba(0, 174, 168, 0.9);
}

div.for_blood{
  background-color:rgba(255, 102, 71, 0.9);
}

div.for_brain{
  background-color:rgba(255, 164, 102, 0.9);
  text-shadow:1px 1px 5px rgba($color: #000000, $alpha: 0.65);
}

div.fresh_fruit:hover div.pic_rada{
  opacity: 1;
  top:24%;
}
div.fresh_fruit:hover img.fresh_fruit{
  opacity: 0.6;
}

div.fresh_fruit:hover img.dried_fruit{
  opacity: 0.6;
}

//↑↑↑3月22日(日)改動過的部分


//以下的.grey_btn是複製政儒的 cancel_btn
.grey_btn{
  text-align: right;
  display: inline-block;
}

.grey_btn{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  border-width: 0;
  border-radius: 10px;
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif;
  min-width: 120px;
  width: 120px;
  color: #141414;
  background-color: #A8A8A8;
  -webkit-box-shadow: 2px 2px 5px rgba(168, 168, 168, 0.5);
          box-shadow: 2px 2px 5px rgba(168, 168, 168, 0.5);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  text-decoration: none;
}

.grey_btn:before {
  content: "\f054";
  font-family: FontAwesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.grey_btn:hover {
  text-indent: 30px;
}

.grey_btn:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}


//以下的orange_btn是複製政儒的.post_btn

.orange_btn {
  text-align: center;
}  

.orange_btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  border-width: 0;
  border-radius: 10px;
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif;
  min-width: 120px;
  width: 120px;
  color: #ffffff;
  background-color: #D35D3D;
  -webkit-box-shadow: 2px 2px 5px rgba(211, 93, 61, 0.5);
          box-shadow: 2px 2px 5px rgba(211, 93, 61, 0.5);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  display: inline-block;
  margin: 10px auto 0pc auto;
}
  
  .orange_btn:before {
    content: "\f054";
    font-family: FontAwesome;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }
  
  .orange_btn:hover {
    text-indent: 30px;
  }
  
  .orange_btn:hover:before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    text-indent: 0;
  }
  

//以下的green_btn是複製政儒的post_rest_btn
.green_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  border-width: 0;
  border-radius: 10px;
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif;
  min-width: 120px;
  width: 140px;
  color: #ffffff;
  background-color: #1F7962;
  -webkit-box-shadow: 2px 2px 5px rgba(31, 121, 98, 0.5);
          box-shadow: 2px 2px 5px rgba(31, 121, 98, 0.5);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  display: inline-block;
  margin: 10px auto 0pc auto;
}

.green_btn:before {
  content: "\f054";
  font-family: FontAwesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.green_btn:hover {
  text-indent: 30px;
  // padding: 12px 0px;
}

.green_btn:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}

//另類方法生產
.link_btn {
  text-align: center;
}  

.link_btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  border-width: 0;
  border-radius: 10px;
  font-size: 1.25rem;
  min-width: 120px;
  width: 120px;
  color: #ffffff;
  background-color: #E08C34;
  -webkit-box-shadow: 2px 2px 5px rgba(244, 140, 52, 0.5);
          box-shadow: 2px 2px 5px rgba(244, 140, 52, 0.5);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  display: inline-block;
  margin: 10px;
}
  
  .link_btn:before {
    content: "\f054";
    font-family: FontAwesome;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }
  
  .link_btn:hover {
    text-indent: 30px;
  }
  
  .link_btn:hover:before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    text-indent: 0;
  }

/*購物車上方的紅色數字*/
  div.newItem{
    border: 1px solid red;
    width:15px;
    height:15px;
    div.content{
      img{
        width:20px;
      }
      span#subtotal{
        margin:10px;
      }
    }
  }







@import "../../modules/rwd";
@import "../../page/forum/ipadpro";
@import "../../page/forum/ipad";
@import "../../page/forum/phone";