

@media all and (max-width: 1200px) {
    .shopping_wrapper{
        // border: 1px solid red;
        box-sizing: border-box;
        width:992px;
        padding:15px;
        position:relative;
        left: 50%;
        margin-left:-500px;
    }
}

@media all and (max-width: 992px) {
    .shopping_wrapper{
        width:768px;
        padding:15px;
        position:relative;
        left: 50%;
        margin-left:-384px;
    }


}

@media all and (max-width: 768px) {
    .shopping_wrapper{
        width:600px;
        padding: 10px;
        position:relative;
        left: 50%;
        margin-left:-300px;
        h2{
            margin: 0px;
        }
    }
    .item_img{
        width:50%;
        padding: 10px 5px;
        // border:1px solid blue; 
        background-color: white;
        border-radius: 4px;
    }
    .item_text{  
        width:50%;
        // border:1px solid green; 
        padding-left: 0px;
        p.introduce{
            padding: 10px;
        }
    }
    .quantity{
        margin: 5px;
        h3{
            font-size:1.3rem;
            margin: 0px;
            display:block;
        }
    }
}

@media all and (max-width: 680px){
    .shopping_wrapper{
        width:570px;
        padding: 5px;
        position:relative;
        left: 50%;
        margin-left:-285px;
    }
}


@media all and (max-width: 576px){
    .shopping_wrapper{
        width:480px;
        padding: 5px;
        position:relative;
        left: 50%;
        margin-left:-240px;
        .item_img{
            width:100%;
            padding: 10px 5px;
            // border:1px solid orangered; 
            background-color: white;
            border-radius: 4px;
        }
        .item_text{  
            width:70%;
            margin-left: 15%;
            // border:1px solid violet; 
            padding-left: 0px;
            h2{
                margin-left: 0px;
            }
        }
    }
    
    // .quantity{
    //     margin: 5px;
    //     h3{
    //         font-size:1.3rem;
    //         margin: 0px;
    //         display:block;
    //     }
    // }

}

@media all and (max-width: 480px){
    div.box_for_shopping_title{
        // display: none;
        width:200px;
        position: relative;
        left:50%;
        margin-top: 60px;
        margin-left:-100px;
        padding:15px 10px 0px 10px;
        // border: 1px solid green;
        border-radius: 24px 24px 0px 0px;
    }
    .shopping_wrapper{
        width:376px;
        // padding: 3px;
        position:relative;
        left: 50%;
        margin-left:-188px;
    }

    .quantity{
        font-size:1.5rem;
        margin: 5px;
        h4{
            margin: 0px;
        }
    }
    #howmany{
        width:30px;
        background-color:white;
        border: 1px solid #CCCBCF;
        margin: 0px;
        padding: 4px; 
    }
    button.count{
        width:30px;
        background-color:#CCCBCF;
        padding: 2px 4px; 
    }
    table.previous_and_next{
        h4{
            font-size: 1.0rem;
        }
    }
}
@media all and (max-width: 376px){
    .shopping_wrapper{
        width:320px;
        position:relative;
        left: 50%;
        margin-left:-160px;
    }
    .quantity{
        font-size:1.3rem;
        margin: 0px;
        h4{
            font-size:1.3rem;
            margin: 0px;
        }
    }


}