.mem_info_container{
    // border: 1px solid red;
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    .selfie {
        // border: 1px solid red;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .selfie_container {
            // border: 1px solid blue;
            border-radius: 50%;
            width: 200px;
            height: 200px;
    
            background-position: center; 
            background-size: cover;
            background-repeat: no-repeat;
        }
    
        input {
            border: 1px solid rgb(12, 12, 68);
        }
    }
   
    form {
        // border: 1px solid green;
        width: 60%;
        padding: 5px;
    }
 
    input {
        // border: 1px solid rgb(144, 144, 243);
        width: 70%;
        padding: 5px;
        margin: 5px;
    }
    
    .member_info_btn{
        @include btn_secondary(150px);
        display: block;
        margin: 50px auto;
    }
}

@media (max-width: 414px) {
    .mem_info_container{
        // border: 1px solid red;
        width: 100%;
        padding: 5px;
        font-size: 1.25rem;
    
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    
        .selfie {
            // border: 1px solid red;
            width: 100%;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .selfie_container {
                // border: 1px solid blue;
                border-radius: 50%;
                width: 200px;
                height: 200px;
        
                background-position: center; 
                background-size: cover;
                background-repeat: no-repeat;
            }
        
            input {
                border: 1px solid rgb(12, 12, 68);
            }
        }
       
        form {
            // border: 1px solid green;
            width: 100%;
            padding: 5px;
        }
     
        input {
            // border: 1px solid rgb(144, 144, 243);
            width: 70%;
            padding: 5px;
            margin: 5px;
        }
        
        .member_info_btn{
            @include btn_secondary(150px);
            display: block;
            margin: 50px auto;
        }
    }
}