@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';
@import '../../page/member/star';
@import '../../page/member/member_info';
@import '../../page/member/member_tab';
@import '../../page/member/member_order';
@import '../../page/member/order';

  
body {
    @include bgc_img(index_bgc_nightblue4);
    background-repeat: repeat;
    background-position: top;
    background-size: 105%;
    font-family: $fontFamily;
    position: relative;
}

h1 {
    font-size: 2rem;
    color: $indexTitleFontColor;
}

h2 {
    font-size: 1.75rem;
    color: $indexTitleFontColor;
}

h3 {
    font-size: 1.5rem;
    color: $indexFontColor;
}

h4 {
    font-size: 1.25rem;
    color: $indexFontColor;
}
h5 {
    font-size: 1.15rem;
    color: $indexTitleFontColor;
}
  .sky-container {
    // border: 1px solid green;
    width: 100%;
  }

  .member_contain {
      // border: 1px solid orange;
      overflow: hidden;
      position: relative;

      .member_title {
        @include newTitle(3px, 10px, 400px, linear-gradient(to top, #dfe9f3 0%, white 100%));
        margin: 50px auto;
      }
  }

  section {
    width: 100%;
    font-family: $indexBannerFont6;
    letter-spacing: .5rem;

    .memBanner {
      position: relative;
      font-weight: 900;
      font-size: 3.5rem;
      text-align: center;
      margin-top: 50px;
    }
    
    .memBanner .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2rem;
      padding-right: 0.05rem;
      padding-bottom: 0.1rem;
      overflow: hidden;
    }
    
    .memBanner .letter {
      display: inline-block;
      line-height: 1rem;
      color: #fff;
    }
  
    h3 {
      text-align: center;
      color:#fff;
      font-size: 1.5rem;
    }

    .ufo {
      // border: 1px solid red;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;

      .ufoimg1 {
        position: absolute;
        width: 150px;
        transform: rotate(-25deg);
        animation: jumping 15s ease-in-out infinite alternate;
        transition: all;

        top: -100px;
        left: -50px;
      } 

      .ufoimg2 {
        position: absolute;
        width: 250px;
        transform: rotate(25deg);
        animation: jumping2 15s ease-in-out infinite alternate;
        transition: all;

        top: 100px;
        right: -50px;
      } 
    }
  }

  @keyframes jumping{
    0%{
      left: -50px;
    }
    20%{
      left: 70px;
    }
    50%{
      left: -50px;
    }
    80%{
      left: 70px;
    }
    100%{
      left: -50px;
    }
  }

  @keyframes jumping2{
    0%{
      right: -50px;
    }
    20%{
      right: 70px;
    }
    50%{
      right: -50px;
    }
    80%{
      right: 70px;
    }
    100%{
      right: -50px;
    }
  }
  
  .member_wrap {
      // border: 1px solid deeppink;
      width: 100%;
      
      .member_content {
        // border: 1px solid yellow;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 0px;
          
          .island {
              // border: 1px solid yellow;
              position: absolute;
              z-index: -1;
              top: 150px;
              left: -230px;
    
              img {
              position: absolute;
              width: 600px;
                
              }
           }
      }
  }
  