@import '../../base/reset';
@import '../../base/variable';
@import '../../base/fontSetting';
@import '../../layout/header';
@import '../../layout/footer';
@import '../../mixin/titleStyle';
@import '../../modules/button';
// @import '../../layout/tab';
// @import '../../page/member/order';

* {
    box-sizing: border-box;
}

body {
    @include bgc_img(index_bgc_evening2);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 105%;
}